<!DOCTYPE html>
<html class="{{#if borderless}} no-padding{{/if}}{{#if overlay}} overlay{{/if}}">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<link rel="shortcut icon" href="/favicon.ico"/>
		<link rel="stylesheet" href="{{ session.urls.assets }}css/app.min.css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="{{ session.urls.assets }}css/filecanvas-admin.css"/>
		{{#>styles}}{{/styles}}
		<title>{{#if title}}{{ title }} | {{/if}}Filecanvas</title>
	</head>
	<body class="{{#unless navigation}} navigation-hidden{{/unless}}{{#if fullPage}} full-page{{/if}}{{#unless footer}} no-footer{{/unless}}{{#if overlay}} overlay{{/if}}">
		<div class="app{{#if navigation}} layout-fixed-header{{/if}}">
			{{#if navigation}}
			<div class="sidebar-panel offscreen-left">
				<div class="brand">
					<h3 class="brand-logo"><a href="{{ session.urls.home }}">File<strong>canvas</strong></a></h3>
				</div>
				<nav role="navigation">
					<ul class="nav">
						<li class="menu-accordion{{#if (and (startsWith session.location.pathname session.urls.admin.sites) (not-eq session.location.pathname session.urls.admin.sitesCreate))}} open{{/if}}">
							<a href="{{ session.urls.admin.sites }}"><i class="fa fa-dashboard"></i> <span>Your canvases</span></a>
							{{#if session.sites}}
							<ul class="sub-menu">
								{{#each session.sites as |site|}}
								<li{{#if (eq ../session.location.pathname (concat ../session.urls.admin.sites '/' site.name))}} class="open"{{/if}}><a href="{{ ../session.urls.admin.sites }}/{{ site.name }}"> <span>{{ site.label }}</span></a></li>
								{{/each}}
							</ul>
							{{/if}}
						</li>
						<li{{#if (eq session.location.pathname session.urls.admin.sitesCreate)}} class="open"{{/if}}><a href="{{ session.urls.admin.sitesCreate }}"><i class="fa fa-plus"></i> <span>Create a canvas</span></a></li>
						<li{{#if (eq session.location.pathname session.urls.admin.faq)}} class="open"{{/if}}><a href="{{ session.urls.admin.faq }}"><i class="fa fa-info-circle"></i><span>FAQ</span></a></li>
						<li{{#if (eq session.location.pathname session.urls.admin.support)}} class="open"{{/if}}><a href="{{ session.urls.admin.support }}"><i class="fa fa-question-circle"></i><span>Support</span></a></li>
						{{#if session.user}}
						<li class="visible-xs {{#if (eq session.location.pathname session.urls.admin.account)}} open{{/if}}"><a href="{{ session.urls.admin.account }}"><i class="fa fa-user"></i><span>Your account</span></a></li>
						<li class="visible-xs"><a href="{{ session.urls.admin.logout }}"><i class="fa fa-sign-out"></i><span>Log out</span></a></li>
						{{/if}}
					</ul>
				</nav>
			</div>
			{{/if}}
			<div class="main-panel">
				{{#if navigation}}
				<header class="header navbar">
					<div class="brand visible-xs">
						<div class="toggle-offscreen">
							<a href="javascript:;" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
								<span></span><span></span><span></span>
							</a>
						</div>
						<h3 class="brand-logo"><a href="{{ session.urls.home }}">File<strong>canvas</strong></a></h3>
					</div>
					{{#>navbar}}{{/navbar}}
					<ul class="nav navbar-nav navbar-right hidden-xs">
						{{#if session.user}}
						<li>
							<a href="javascript:;" data-toggle="dropdown" aria-expanded="false">
								<span>{{ session.user.firstName }} {{ session.user.lastName }}</span>
								<i class="ml10 fa fa-angle-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="{{ session.urls.admin.account }}">Account Settings</a>
								</li>
								<li>
									<a href="{{ session.urls.admin.logout }}">Log out</a>
								</li>
							</ul>
						</li>
						{{/if}}
					</ul>
				</header>
				{{/if}}
				<section class="main-content">
					{{#if header}}
					<div class="title-bar">
						<div class="title-bar-header">
							<div class="title-bar-header-title">
								<div class="brand">
									<h3 class="brand-logo"><a href="{{ session.urls.home }}">File<strong>canvas</strong></a></h3>
								</div>
							</div>
							{{#if headerTitle}}
							<h3 class="title-bar-header-subtitle">{{ headerTitle }}</h3>
							{{/if}}
						</div>
					</div>
					{{/if}}
					{{#>content}}{{/content}}
				</section>
			</div>
			{{#if footer}}
			<footer class="content-footer">
				<nav class="footer-right">
					<ul class="nav">
						<li><a href="mailto:info@filecanvas.com">Feedback</a></li>
					</ul>
				</nav>
				<nav class="footer-left">
					<ul class="nav">
						<li><a>Copyright <i class="fa fa-copyright"></i> <span>Filecanvas</span></a></li>
						<li><a href="{{ session.urls.admin.terms }}">Terms &amp; Conditions</a></li>
						<li><a href="{{ session.urls.admin.privacy }}">Privacy Policy</a></li>
					</ul>
				</nav>
			</footer>
			{{/if}}
		</div>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="{{ session.urls.assets }}js/filecanvas-api.js"></script>
		<script src="{{ session.urls.assets }}js/filecanvas-admin.js"></script>
		{{#>scripts}}{{/scripts}}
	</body>
</html>
