{{#each (lookup theme 'config') as |configGroup|}}
<div class="panel panel-default">
	<button type="button" class="btn btn-block no-border panel-heading{{#unless (eq @index 0)}} collapsed{{/unless}}" role="tab" data-toggle="collapse" data-parent="#theme-options" data-target="#theme-options-{{ configGroup.name }}" aria-controls="theme-options-{{ configGroup.name }}" aria-expanded="{{eq @index 0 }}">
		<div class="panel-controls"><i class="panel-arrow fa fa-angle-up"></i></div>
		<h5 class="text-uppercase mt2 mb0">
			{{#if configGroup.icon}}<i class="fa fa-{{ configGroup.icon }} mr10"></i>{{/if}}
			{{ configGroup.label }}
		</h5>
	</button>
	<div id="theme-options-{{ configGroup.name }}" class="panel-collapse collapse{{#if (eq @index 0)}} in{{/if}}" role="tabpanel">
		<fieldset class="panel-body">
			{{#each configGroup.fields as |field|}}
			{{#if field.label}}<label class="control-label">{{ field.label }}</label>{{/if}}
			<div class="mb15">
				{{#if (eq field.editor.name 'input')}}
				<input type="{{ field.editor.options.type }}" class="form-control"
					name="theme.config.{{ configGroup.name }}.{{ field.name }}"
					placeholder="{{ field.editor.options.placeholder }}"
					maxlength="{{ field.editor.options.maxLength }}"
					value="{{ lookup (lookup ../../config configGroup.name) field.name }}"
				/>
				{{/if}}
				{{#if (eq field.editor.name 'checkbox')}}
				<div class="checkbox">
					<label>
						<input type="hidden"
							name="theme.config.{{ configGroup.name }}.{{ field.name }}"
							value="false"
						/>
						<input type="checkbox"
							name="theme.config.{{ configGroup.name }}.{{ field.name }}"
							value="true"
						   {{#if (eq (lookup (lookup ../../config configGroup.name) field.name) 'true') }}checked{{/if}}
						/>
						<span class="checkbox-label">{{ field.editor.options.label }}</span>
					</label>
				</div>
				{{/if}}
				{{#if (eq field.editor.name 'textarea')}}
				<textarea class="form-control"
					name="theme.config.{{ configGroup.name }}.{{ field.name }}"
					placeholder="{{ field.editor.options.placeholder }}"
					maxlength="{{ field.editor.options.maxLength }}"
					rows="{{ field.editor.options.rows }}"
				>{{ escapeNewlines (lookup (lookup ../../config configGroup.name) field.name) }}</textarea>
				{{/if}}
				{{#if (eq field.editor.name 'code')}}
				<textarea class="form-control code-editor"
					name="theme.config.{{ configGroup.name }}.{{ field.name }}"
					placeholder="{{ field.editor.options.placeholder }}"
					maxlength="{{ field.editor.options.maxLength }}"
					rows="{{ field.editor.options.rows }}"
					data-language="{{ field.editor.options.language }}"
				>{{ escapeNewlines (lookup (lookup ../../config configGroup.name) field.name) }}</textarea>
				{{/if}}
				{{#if (eq field.editor.name 'file')}}
				<div class="upload-control"
					data-request-upload-url="{{ ../../uploadUrl }}"
					data-hide-extension
					{{#if field.editor.options.image}}
					data-image
					{{#if field.editor.options.image.format}}data-image-format="{{ field.editor.options.image.format }}"{{/if}}
					{{#if field.editor.options.image.quality}}data-image-quality="{{ field.editor.options.image.format }}"{{/if}}
					{{#if field.editor.options.image.options}}data-image-options="{{ json field.editor.options.image.options }}"{{/if}}
					{{/if}}
				>
					<input type="hidden"
						name="theme.config.{{ configGroup.name }}.{{ field.name }}"
						value="{{ lookup (lookup ../../config configGroup.name) field.name }}"
					/>
					<div class="input-group">
						<div class="upload-control-label clearfix">
							<input type="text" class="form-control br0 upload-control-label-input" readonly="readonly"
								placeholder="{{ field.editor.options.placeholder }}"
							/>
							<i class="upload-control-icon fa fa-file"></i>
							<button type="button" class="upload-control-clear btn btn-reset text-default-dark" title="Clear current selection" disabled="disabled" data-upload-clear>
								<i class="fa fa-times-circle"></i>
							</button>
						</div>
						<span class="input-group-btn upload-control-button">
							<label class="btn btn-primary" title="Choose a file">
								<i class="fa fa-upload"></i>
								<input type="file" class="upload-control-file-input"
									{{#if field.editor.options.accept}}
									accept="{{ field.editor.options.accept }}"
									{{else}}
									{{#if field.editor.options.image}}
									accept="image/*"
									{{/if}}
									{{/if}}
								/>
							</label>
						</span>
					</div>
					<div class="upload-control-progress">
						<div class="progress progress-striped active mb0">
							<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" data-percent="0"></div>
						</div>
					</div>
					<div class="upload-control-error alert alert-xs alert-danger">
						<button type="button" class="close" aria-label="close" data-upload-dismiss-error>
							<i class="fa fa-times-circle"></i>
						</button>
						<i class="upload-control-error-icon fa fa-exclamation-triangle"></i>
						<p class="bold">Upload failed, please try again</p>
					</div>
				</div>
				{{/if}}
				{{#if (eq field.editor.name 'colorpicker')}}
				<div class="input-group" data-colorpicker
					{{#if field.editor.options.format }}
					data-format="{{ field.editor.options.format }}"
					{{/if}}
					{{#if field.editor.options.presets }}
					data-color-selectors="{{ json field.editor.options.presets }}"
					{{/if}}
				>
					<input class="form-control"
						name="theme.config.{{ configGroup.name }}.{{ field.name }}"
						placeholder="{{ field.editor.options.placeholder }}"
						value="{{ lookup (lookup ../../config configGroup.name) field.name }}"
					/><span class="input-group-addon no-bg">
						<i></i>
					</span>
				</div>
				{{/if}}
				{{#if (eq field.editor.name 'font')}}
				<div class="btn-group editor-font-control">
					<select class="form-control selectpicker" data-width="auto" data-container="body"
						name="theme.config.{{ configGroup.name }}.{{ field.name }}.font-family"
					>
						{{#each field.editor.options.fonts as |option|}}
						<option value="{{ option.value }}" data-content="&lt;span class=&quot;editor-font-control-preview&quot; style=&quot;font-family: {{ option.value }}&quot;&gt;{{ option.name }}&lt;/span&gt;"{{#if (eq option.value (lookup (lookup (lookup ../../../config configGroup.name) field.name) 'font-family')) }} selected{{/if}}>{{ option.name }}</option>
						{{/each}}
					</select>
					<div class="btn-group pull-left" data-toggle="buttons">
						{{#if field.editor.options.bold}}
						<input type="hidden"
							name="theme.config.{{ configGroup.name }}.{{ field.name }}.font-weight"
							value="normal"
						/>
						<label class="btn btn-default {{#if (eq (lookup (lookup (lookup ../../config configGroup.name) field.name) 'font-weight') 'bold')}} active{{/if}}" title="Bold">
							<input type="checkbox"
								name="theme.config.{{ configGroup.name }}.{{ field.name }}.font-weight"
								value="bold"
								{{#if (eq (lookup (lookup (lookup ../../config configGroup.name) field.name) 'font-weight') 'bold')}}checked="checked"{{/if}}
							/>
							<i class="fa fa-bold"></i>
						</label>
						{{/if}}
						{{#if field.editor.options.italic}}
						<input type="hidden"
							name="theme.config.{{ configGroup.name }}.{{ field.name }}.font-style"
							value="normal"
						/>
						<label class="btn btn-default {{#if (eq (lookup (lookup (lookup ../../config configGroup.name) field.name) 'font-style') 'italic')}} active{{/if}}" title="Italic">
							<input type="checkbox"
								name="theme.config.{{ configGroup.name }}.{{ field.name }}.font-style"
								value="italic"
								{{#if (eq (lookup (lookup (lookup ../../config configGroup.name) field.name) 'font-style') 'italic')}}checked="checked"{{/if}}
							/>
							<i class="fa fa-italic"></i>
						</label>
						{{/if}}
						{{#if field.editor.options.underline}}
						<input type="hidden"
							name="theme.config.{{ configGroup.name }}.{{ field.name }}.text-decoration"
							value="none"
						/>
						<label class="btn btn-default {{#if (eq (lookup (lookup (lookup ../../config configGroup.name) field.name) 'text-decoration') 'underline')}} active{{/if}}" title="Underline">
							<input type="checkbox"
								name="theme.config.{{ configGroup.name }}.{{ field.name }}.text-decoration"
								value="underline"
								{{#if (eq (lookup (lookup (lookup ../../config configGroup.name) field.name) 'text-decoration') 'underline')}}checked="checked"{{/if}}
							/>
							<i class="fa fa-underline"></i>
						</label>
						{{/if}}
						{{#if field.editor.options.uppercase}}
						<input type="hidden"
							name="theme.config.{{ configGroup.name }}.{{ field.name }}.text-transform"
							value="none"
						/>
						<label class="btn btn-default {{#if (eq (lookup (lookup (lookup ../../config configGroup.name) field.name) 'text-transform') 'uppercase')}} active{{/if}}" title="Uppercase">
							<input type="checkbox"
								name="theme.config.{{ configGroup.name }}.{{ field.name }}.text-transform"
								value="uppercase"
								{{#if (eq (lookup (lookup (lookup ../../config configGroup.name) field.name) 'text-transform') 'uppercase')}}checked="checked"{{/if}}
							/>
							<i class="fa fa-uppercase"></i>
						</label>
						{{/if}}
					</div>
				</div>
				{{/if}}
			</div>
			{{/each}}
		</fieldset>
	</div>
</div>
{{/each}}
