{{#>index title='Create a canvas' navigation=true footer=true}}
	{{#*inline 'navbar'}}
		{{#>breadcrumb}}
		{{>breadcrumb-item link=session.urls.admin.sites icon='dashboard' label='Your canvases'}}
		{{>breadcrumb-item link=session.urls.admin.sitesCreate icon='plus' label='Create a canvas'}}
		{{/breadcrumb}}
	{{/inline}}
	{{#*inline 'content'}}
		<div class="row">
			<div class="col-md-12 col-lg-10">
				<div class="mb15">
					<h4 class="no-margin text-uppercase">
						Create a canvas
					</h4>
				</div>
				<form role="form" method="POST" action="{{ session.urls.admin.sites }}" autocomplete="off">
					<div id="create-form" class="panel-group" data-wizard>
						<div class="panel mb25">
							<input type="hidden" name="_method" value="POST"/>
							<input type="hidden"
								name="private"
								value="{{#if content.site.private}}true{{else}}false{{/if}}"
							/>
							<input type="hidden"
								name="published"
								value="{{#if content.site.published}}true{{else}}false{{/if}}"
							/>
							<input type="hidden"
								name="home"
								value="{{#if content.site.home}}true{{else}}false{{/if}}"
							/>
							{{#if content.site.theme.config}}
							<input type="hidden"
								name="theme.config"
								value="{{ json content.site.theme.config }}"
							/>
							{{/if}}
							<div class="panel-heading">
								<h4 class="no-margin text-uppercase">
									<i class="wizard-progress-icon fa mr10 hidden-xs"></i>Step 1: Choose a theme
								</h4>
							</div>
							<div id="create-form-theme" class="panel-collapse collapse{{#if (not content.site.theme.id)}} in{{/if}}">
								<div class="panel-body form-horizontal bordered-group pb20">
									{{#if session.sites}}
									<div class="mb15">
										<div class="radio">
											<label class="ml5">
												<input name="_action" value="clone" type="radio" checked
													data-bind-id="create-form-sites"
												/><strong>Copy theme from an existing canvas</strong>
											</label>
										</div>
										<fieldset class="pt15 pl25 pr25"
											data-bind-value="create-form-sites"
										>
											<p>Pick one of your canvases to use as a starting point for your new canvas:</p>
											<div class="row">
												<div class="col-sm-6">
													<select class="form-control mb10" name="site">
														{{#each session.sites as |site|}}
															<option value="{{ site.name }}">{{ site.label }}</option>
														{{/each}}
													</select>
												</div>
												<div class="col-sm-3">
													<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#create-form-fields" data-parent="#create-form">Use this theme</button>
												</div>
											</div>
										</fieldset>
									</div>
									{{/if}}
									<div>
										{{#if session.sites}}
										<div class="radio">
											<label class="ml5">
												<input name="_action" value="create" type="radio"
													data-bind-id="create-form-theme"
												/><strong>Design a new canvas</strong>
											</label>
										</div>
										{{/if}}
										<fieldset>
											<div class="pl25 pr25{{#if session.sites}} collapse{{/if}}"{{#if session.sites}}
												data-bind-value="create-form-theme"
		{{/if}}>
												<p class="pt15">Choose a theme from the selection below. You'll be able to customise the theme after the canvas has been created.</p>
												<ul class="list-unstyled mn mb0">
													<li class="theme-preview-control p15">
														<div class="theme-preview-control-title h5 mt0 pb5"><strong>Agency</strong> </div>
														<div class="widget bg-white no-padding mb0 text-center bordered">
															<a class="theme-preview-control-thumbnail" href="/canvases/create-canvas/themes/agency">
																<img class="theme-preview-control-thumbnail-image" src="https://themes.dev-filecanvas.com:4443/agency/thumbnail.png">
																<div class="theme-preview-control-thumbnail-icon">
																	<i class="fa fa-search-plus"></i>
																</div>
															</a>
														</div>
														<label class="btn btn-primary block mt10" data-toggle="collapse" data-target="#create-form-fields" data-parent="#create-form">
															<input type="radio" class="theme-preview-control-radio-input"
																name="theme.id"
																value="agency"
															/>
															Use this theme
														</label>
													</li>
													<li class="theme-preview-control p15">
														<div class="theme-preview-control-title h5 mt0 pb5"><strong>Grid</strong> </div>
														<div class="widget bg-white no-padding mb0 text-center bordered">
															<a class="theme-preview-control-thumbnail" href="/canvases/create-canvas/themes/grid">
																<img class="theme-preview-control-thumbnail-image" src="https://themes.dev-filecanvas.com:4443/grid/thumbnail.png">
																<div class="theme-preview-control-thumbnail-icon">
																	<i class="fa fa-search-plus"></i>
																</div>
															</a>
														</div>
														<label class="btn btn-primary block mt10" data-toggle="collapse" data-target="#create-form-fields" data-parent="#create-form">
															<input type="radio" class="theme-preview-control-radio-input"
																name="theme.id"
																value="grid"
															/>
															Use this theme
														</label>
													</li>
												</ul>
											</div>
										</fieldset>
									</div>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h4 class="no-margin text-uppercase">
									<i class="wizard-progress-icon fa mr10 hidden-xs"></i>Step 2: Create canvas
								</h4>
							</div>
							<div id="create-form-fields" class="panel-collapse collapse{{#if content.site.theme.id}} in{{/if}}">
								<div class="panel-body form-horizontal bordered-group">
									<div class="row no-margin">
										<div class="col-lg-12">
											<div id="row">
												<div class="form-group">
													<label class="col-sm-2 control-label">Canvas name</label>
													<div class="col-sm-10">
														<input type="hidden"
															name="root.adapter"
															value="{{ content.site.root.adapter }}"
														/>
														<input type="hidden"
															name="root.config.path"
															value="{{ content.site.root.config.path }}"
															readonly="readonly"
															data-bind-value="site-label|filename|format:'{{ lookup (lookup content.adapters content.site.root.adapter) 'path' }}$0'"
															data-validate="path,notEmpty"
														/>
														<input type="hidden"
															name="name"
															value="{{ content.site.name }}"
															data-bind-value="site-label|slug"
														/>
														<div class="path-control has-extra"
															data-path-control-root="{{ lookup (lookup content.adapters content.site.root.adapter) 'rootLabel' }}"
														>
															<input type="text" class="form-control"
																readonly="readonly"
																value="{{ lookup (lookup content.adapters content.site.root.adapter) 'path' }}"
															/>
															<ul class="path-control-segments">
															</ul><div class="path-control-extra">
																<div class="input-group input-group-sm">
																	<span class="input-group-addon"><i class="fa fa-folder-o"></i></span>
																	<input type="text" class="form-control" autofocus="autofocus"
																		name="label"
																		value="{{ content.site.label }}"
																		placeholder="Type a name"
																		data-bind-id="site-label"
																		data-validate="notEmpty,filename"
																	/>
																</div>
															</div>
															<span class="form-control-feedback fa" aria-hidden="true"></span>
														</div>
														<span class="form-control-feedback fa" aria-hidden="true"></span>
														<p class="help-block">This is where Filecanvas will store the canvas's files within your {{ lookup (lookup content.adapters content.site.root.adapter) 'label' }}.<br/>If this folder doesn't already exist, it will be created.</p>
													</div>
												</div>
												<div class="form-group">
													<div class="col-sm-offset-2 col-sm-10">
														<button type="submit" class="btn btn-success"
															data-bind-value="site-label"
														>Create canvas</button>
														<button type="reset" class="btn btn-default pull-right" data-toggle="collapse" data-target="#create-form-theme" data-parent="#create-form">Cancel</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	{{/inline}}
{{/index}}
