<div class="row">
	<div class="col-sm-12 col-lg-offset-1 col-lg-11">
		<h2>Add a site</h2>
		<p class="lead">Use the fields below to create a new Dropkick site.</p>
		<hr/>
		<form class="form-horizontal" role="form" action="{{ session.urls.sites }}" method="POST">
			<input type="hidden" name="organization" value="{{ session.organization.alias }}"/>
			<fieldset>
				<div class="form-group">
					<label for="input-sites-name" class="col-sm-3 col-lg-2 control-label">Name</label>
					<div class="col-sm-6 col-lg-4">
						<input type="text" class="form-control" id="input-sites-name"
							name="name"
							title="This helps you identify the site in the Dropkick admin area"
							placeholder="Site name"
							data-bind-id="site-name"
							data-validate="notEmpty"
							data-trigger="focus"
						/>
					</div>
				</div>
				<div class="form-group">
					<label for="input-sites-alias" class="col-sm-3 col-lg-2 control-label">Path</label>
					<div class="col-sm-6 col-lg-4">
						<input type="text" class="form-control" id="input-sites-alias"
						 	name="alias"
							title="This determines the site’s web address"
							placeholder="Site path"
							data-bind-id="site-alias"
							data-bind-value="site-name|slug"
							data-parser="slug"
							data-validate="slug"
							data-trigger="focus"
						/>
						<p class="help-block">{{ session.urls.organization }}<strong data-bind-value="site-alias">{{ site.alias }}</strong></p>
					</div>
				</div>
				<div class="form-group">
					<label for="input-sites-title" class="col-sm-3 col-lg-2 control-label">Title</label>
					<div class="col-sm-6 col-lg-4">
						<input type="text" class="form-control" id="input-sites-title"
							name="title"
							title="This determines what is shown in the title of the user’s browser window"
							placeholder="Page title"
							data-bind-value="site-name|format:'$0 | {{ session.organization.name }}':''"
							data-validate="notEmpty"
							data-trigger="focus"
						/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Dropbox folder</label>
					<div class="col-sm-6 col-lg-4">
						<select class="form-control"
							name="share"
							title="Choose the Dropbox folder that this site syncs from"
						>
							<option value="">No Dropbox folder selected</option>
							{{#each session.organization.shares}}
							<option value="{{ path }}">{{ name }}</option>
							{{/each}}
						</select>
						<p class="form-control-static"><a href="{{ session.urls.shares }}">Manage your linked Dropbox folders…</a></p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Site access</label>
					<div class="col-sm-9">
						<div class="checkbox">
							<label title="Only allow users with a valid username and password to see the Dropkick site">
								<input type="checkbox"
									name="private"
									value="true"
								/> Password protect this site
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
						<button type="submit" class="btn btn-success">Save changes</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>