<div class="row">
	<div class="col-md-12 col-lg-10">
		<div class="panel mb25">
			<div class="panel-heading border">
				<h4 class="no-margin text-uppercase">Create a site</h4>
			</div>
			<div class="panel-body">
				<div class="row no-margin">
					<div class="col-lg-12">
						<form class="form-horizontal bordered-group" role="form" method="POST" action="{{ session.urls.sites }}" autocomplete="off">
							<input type="hidden" name="_method" value="POST"/>
							<input type="hidden" name="template" value="{{ content.site.template }}"/>
							<div class="form-group">
								<label class="col-sm-2 control-label">Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control"
										name="name"
										placeholder="Site name"
										value="{{ content.site.name }}"
										data-bind-id="site-name"
										data-validate="notEmpty"
										data-trigger="focus"
									/>
									<span class="form-control-feedback fa" aria-hidden="true"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Site ID</label>
								<div class="col-sm-10">
									<input type="text" class="form-control"
										name="alias"
										placeholder="Site ID"
										data-bind-id="site-alias"
										value="{{ content.site.alias }}"
										data-bind-value="site-name|slug"
										data-parser="slug"
										data-validate="slug"
										data-trigger="focus"
									/>
									<span class="form-control-feedback fa" aria-hidden="true"></span>
									<p class="help-block">{{ session.urls.webroot }}<strong data-bind-value="site-alias">{{ site.alias }}</strong></p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Dropbox folder</label>
								<div class="col-sm-10">
									<input type="text" class="form-control"
									 	name="path"
										placeholder="Dropbox folder"
										value="{{ content.site.path }}"
										data-bind-value="site-alias|format:'/shunt/$0'"
										data-validate="notEmpty"
										data-trigger="focus"
									/>
									<span class="form-control-feedback fa" aria-hidden="true"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Site access</label>
								<div class="col-sm-10">
									<div class="checkbox">
										<label>
											<input type="hidden"
												name="private"
												value="false"
											/>
											<input type="checkbox"
												name="private"
												value="true"
												{{#if content.site.private}}checked="checked"{{/if}}
											/> Password protect this site
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-success">Create site</button>
									<button type="button" class="btn btn-default pull-right" onclick="document.location.href='{{ session.urls.sites }}'">Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
