<div class="row">
	<div class="col-sm-12 col-lg-offset-1 col-lg-11">
		<h2>Edit Site: {{ content.site.name }} <a href="{{ session.urls.webroot }}{{ content.site.alias }}" target="_blank" title="Visit this site"><span class="glyphicon glyphicon-new-window"></span></a></h2>
		<p class="lead">Use the fields below to make changes to this Shunt site.</p>
		<hr/>
		<form class="form-horizontal" role="form" action="{{ session.urls.sites }}/{{ content.site.alias }}" method="POST" autocomplete="off">
			<input type="hidden" name="_method" value="PUT"/>
			{{#unless content.site.path}}
			<div class="alert alert-danger">
				<p><strong>Warning:</strong> This site has not yet been linked to a Dropbox folder.</p>
			</div>
			{{/unless}}
			<fieldset>
				<div class="form-group">
					<label for="input-site-name" class="col-sm-3 col-lg-2 control-label">Name</label>
					<div class="col-sm-6 col-lg-4">
						<input type="text" name="name" class="form-control" id="input-site-name"
							title="This helps you identify the site in the Shunt admin area"
							placeholder="Site name"
							value="{{ content.site.name }}"
							data-validate="notEmpty"
							data-trigger="focus"
						/>
					</div>
				</div>
				<div class="form-group">
					<label for="input-site-alias" class="col-sm-3 col-lg-2 control-label">Path</label>
					<div class="col-sm-6 col-lg-4">
						<input type="text" name="alias" class="form-control" id="input-site-alias"
							title="This determines the site’s web address"
							placeholder="Site path"
							value="{{ content.site.alias }}"
							data-bind-id="site-alias"
							data-parser="slug"
							data-validate="slug"
							data-trigger="focus"
						/>
						<p class="help-block">{{ session.urls.webroot }}<strong data-bind-value="site-alias">{{ content.site.alias }}</strong></p>
					</div>
				</div>
				<div class="form-group">
					<label for="input-site-title" class="col-sm-3 col-lg-2 control-label">Title</label>
					<div class="col-sm-6 col-lg-4">
						<input type="text" name="title" class="form-control" id="input-site-title"
							title="This determines what is shown in the title of the user’s browser window"
							placeholder="Page title"
							value="{{ content.site.title }}"
							data-validate="notEmpty"
							data-trigger="focus"
						/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Dropbox folder</label>
					<div class="col-sm-6 col-lg-4">
						<div class="row">
							<div class="{{#if content.site.path}}col-xs-9{{else}}col-xs-12{{/if}}">
								<input type="text" name="path" class="form-control" id="input-site-path"
									title="Choose the Dropbox folder that this site syncs from"
									placeholder="Dropbox folder"
									value="{{ content.site.path }}"
									data-bind-id="site-path"
								/>
							</div>
							{{#if content.site.path}}
							<div class="col-xs-3">
								<button type="button" class="btn btn-success col-xs-12"
									title="Shunt scans your Dropbox folder automatically. Use this link to manually trigger a re-scan of your Dropbox folder."
									data-bind-value="site-path"
									data-shunt-purge="{{ content.site.alias }}"
								>
									<span class="shunt-sync-idle"><span class="glyphicon glyphicon-refresh"></span></span>
									<span class="shunt-sync-loading"><span class="glyphicon glyphicon-refresh"></span></span>
									<span class="shunt-sync-success"><span class="glyphicon glyphicon-ok"></span></span>
									<span class="shunt-sync-error"><span class="glyphicon glyphicon-exclamation-sign"></span></span>
								</button>
							</div>
							{{/if}}
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Site access</label>
					<div class="col-sm-9">
						<div class="checkbox">
							<label title="Only allow users with a valid username and password to see the Shunt site">
								<input type="checkbox"
									name="private"
									value="true"
									{{#unless content.site.public}}checked="checked"{{/unless}}
								/>
								Password protect this site
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
						<button type="submit" class="btn btn-success">Save changes</button>
					</div>
				</div>
			</fieldset>
			{{#unless content.site.public}}
			<fieldset>
				<legend>Password protection</legend>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Registered users</label>
					<div class="col-sm-6 col-lg-4">
						{{#if content.site.users}}
						<p class="form-control-static">
							{{#ifequals content.site.users.length 1}}
							1 registered user
							{{else}}
							{{content.site.users.length}} registered users
							{{/ifequals}}
							(<a href="{{ session.urls.sites }}/edit/{{ content.site.alias }}/users">edit</a>)
						</p>
						{{else}}
						<p class="form-control-static" title="Password protection is enabled, but you have not yet registered any users">
							<strong class="text-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> Nobody is allowed to access this site</strong>
							(<a href="{{ session.urls.sites }}/edit/{{ content.site.alias }}/users">edit</a>)
						</p>
						{{/if}}
					</div>
				</div>
			</fieldset>
			{{/unless}}
			<fieldset>
				<legend>Custom domain names</legend>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Domain names</label>
					<div class="col-sm-6 col-lg-4">
						{{#if content.site.domains}}
						<p class="form-control-static">
							{{#ifequals content.site.domains.length 1}}
							1 custom domain name
							{{else}}
							{{ content.site.domains.length }} registered domain names
							{{/ifequals}}
							(<a href="{{ session.urls.sites }}/edit/{{ content.site.alias }}/domains">edit</a>)
						</p>
						{{else}}
						<p class="form-control-static" title="You have not yet registered any custom domain names for this site">
							No custom domain names
							(<a href="{{ session.urls.sites }}/edit/{{ content.site.alias }}/domains">edit</a>)
						</p>
						{{/if}}
					</div>
				</div>
			</fieldset>
			<!--
			<fieldset>
				<legend>Display options</legend>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Numbered items</label>
					<div class="col-sm-9">
						<div class="checkbox">
							<label title="You can choose to keep your Dropbox files in order by preceding their filenames with numbers (e.g. ‘01 - Latest Designs’). Use this checkbox if you don’t want your users to see these numbers in the Shunt site (i.e. display this as ‘Latest Designs’)">
								<input type="checkbox"
									name="numbered-items"
									value="true"
									checked="checked"
								/> Hide numbers at the start of filenames
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">File extensions</label>
					<div class="col-sm-9">
						<div class="checkbox">
							<label title="By default, Shunt will hide all file extensions (e.g. ‘.pdf’). Use this checkbox if you want your users to see these file extensions in the Shunt site.">
								<input type="checkbox"
									name="show-extensions"
									value="true"
								/> Show file extensions
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
						<button type="submit" class="btn btn-success">Save changes</button>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Custom domain names</legend>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Domain names<br/><h6>This requires that you <a href="/faq#dns">point your DNS to Shunt</a></h6></label>
					<div class="col-sm-6 col-lg-4">
						<textarea class="form-control" rows="3"
							name="dns"
							title="Enter all the domain names which you want to point to this Shunt site (e.g. ‘my-extranet.com’ or ‘extranet.my-domain.com’). If entering multiple domain names, enter one per line. You must already own these domain names for this to work."
							placeholder="my-domain.com"
							data-trigger="focus"
						></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
						<button type="submit" class="btn btn-success">Save changes</button>
					</div>
				</div>
			</fieldset>
			-->
		</form>
		<form class="form-horizontal" role="form" action="{{ session.urls.sites }}/{{ content.site.alias }}" method="POST" autocomplete="off">
			<input type="hidden" name="_method" value="DELETE"/>
			<fieldset>
				<legend>Delete site</legend>
				<div class="form-group">
					<ul>
						<li>Deleting this site will permanently remove the Shunt site located at <strong>{{ session.urls.webroot }}{{ content.site.alias }}</strong></li>
						<li>Deleting this site will unlink the site’s Dropbox folder from the Shunt service.</li>
						<li>Deleting this site will <b>not</b> delete the contents of your Dropbox folder.</li>
					</ul>
					<label class="col-sm-3 col-lg-2 control-label">Are you sure?</label>
					<div class="col-sm-9">
						<div class="checkbox">
							<label>
								<input type="checkbox" data-bind-id="confirm-delete"/> I want to permanently delete this Shunt site
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
						<button type="submit" class="btn btn-danger" disabled="disabled" data-bind-value="confirm-delete">Delete this site</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
