<div class="row">
	<div class="col-sm-12 col-lg-offset-1 col-lg-11">
		<h2>Edit Site: {{ site.name }}</h2>
		<p class="lead">Use the fields below to make changes to this Dropkick site.</p>
		<hr/>
		<form class="form-horizontal" role="form" action="{{ session.urls.sites }}/{{ site.alias }}" method="POST">
			<input type="hidden" name="X-HTTP-Method-Override" value="PUT"/>
			<input type="hidden" name="organization" value="{{ session.organization.alias }}"/>
			{{#unless site.share}}
			<div class="alert alert-danger">
				<p><strong>Warning:</strong> This site has not yet been linked to a Dropbox folder.</p>
			</div>
			{{/unless}}
			<fieldset>
				<div class="form-group">
					<label for="input-sites-name" class="col-sm-3 col-lg-2 control-label">Name</label>
					<div class="col-sm-6 col-lg-4">
						<input type="text" name="name" class="form-control" id="input-sites-name"
							title="This helps you identify the site in the Dropkick admin area"
							placeholder="Site name"
							value="{{ site.name }}"
							data-validate="notEmpty"
							data-trigger="focus"
						/>
					</div>
				</div>
				<div class="form-group">
					<label for="input-sites-alias" class="col-sm-3 col-lg-2 control-label">Path</label>
					<div class="col-sm-6 col-lg-4">
						<input type="text" name="alias" class="form-control" id="input-sites-alias"
							title="This determines the site’s web address"
							placeholder="Site path"
							value="{{ site.alias }}"
							data-bind-id="site-alias"
							data-parser="slug"
							data-validate="slug"
							data-trigger="focus"
						/>
						<p class="help-block">{{ session.urls.organization }}<strong data-bind-value="site-alias">{{ site.alias }}</strong></p>
					</div>
				</div>
				<div class="form-group">
					<label for="input-sites-title" class="col-sm-3 col-lg-2 control-label">Title</label>
					<div class="col-sm-6 col-lg-4">
						<input type="text" name="title" class="form-control" id="input-sites-title"
							title="This determines what is shown in the title of the user’s browser window"
							placeholder="Page title"
							value="{{ site.title }}"
							data-validate="notEmpty"
							data-trigger="focus"
						/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Dropbox folder</label>
					<div class="col-sm-6 col-lg-4">
						<select class="form-control"
							name="share"
							title="Choose the Dropbox folder that this site syncs from"
						>
							<option value="">No Dropbox folder selected</option>
							{{#each session.organization.shares}}
							<option value="{{ alias }}"
								{{#ifequals alias ../site.share}}selected="selected"{{/ifequals}}
							>{{ name }}</option>
							{{/each}}
						</select>
						<p class="form-control-static"><a href="{{ session.urls.shares }}">Manage your linked Dropbox folders…</a></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
						<button type="submit" class="btn btn-success">Save changes</button>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Dropbox sync</legend>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">File listing</label>
					<div class="col-sm-9">
						<p class="form-control-static"><a href="#" title="Dropkick scans your Dropbox folder automatically. Use this link to manually trigger a re-scan of your Dropbox folder.">Scan Dropbox folder for newly-added files</a></p>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Display options</legend>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Numbered items</label>
					<div class="col-sm-9">
						<div class="checkbox">
							<label title="You can choose to keep your Dropbox files in order by preceding their filenames with numbers (e.g. ‘01 - Latest Designs’). Use this checkbox if you don’t want your users to see these numbers in the Dropkick site (i.e. display this as ‘Latest Designs’)">
								<input type="checkbox"
									name="numbered-items"
									value="true"
									checked="checked"
								/> Hide numbers at the start of filenames
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">File extensions</label>
					<div class="col-sm-9">
						<div class="checkbox">
							<label title="By default, Dropkick will hide all file extensions (e.g. ‘.pdf’). Use this checkbox if you want your users to see these file extensions in the Dropkick site.">
								<input type="checkbox"
									name="show-extensions"
									value="true"
								/> Show file extensions
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
						<button type="submit" class="btn btn-success">Save changes</button>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Password protection</legend>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Site access</label>
					<div class="col-sm-9">
						<div class="checkbox">
							<label title="Only allow users with a valid username and password to see the Dropkick site">
								<input type="checkbox"
									name="private"
									value="true"
									{{#unless site.public}}checked="checked"{{/unless}}
								/>
								Password protect this site
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Registered users</label>
					<div class="col-sm-6 col-lg-4">
						<input type="hidden"
							name="removed-users"
							value=""
						/>
						{{#if site.users}}
						<table class="table table-bordered table-condensed users-table">
							<tbody>
								{{#each site.users}}
								<tr>
									<td>{{ username }} <button type="button" class="pull-right btn btn-default btn-xs" title="Revoke access for this user"><span class="glyphicon glyphicon-remove"></span> Remove user</button></td>
								</tr>
								{{/each}}
							</tbody>
						</table>
						{{else}}
						<p class="help-block" title="Password protection is enabled, but you have not yet added any user passwords">Nobody is allowed to access this site</p>
						{{/if}}
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Add new user</label>
					<div class="col-sm-9 col-lg-6">
						<input type="hidden"
							name="added-users"
							value=""
						/>
						<div class="row">
							<div class="col-sm-4">
								<input type="text" class="form-control"
									title="Enter a username which your users can use to log into your Dropkick site"
									placeholder="username"
									data-trigger="focus"
									data-validate="notEmpty"
								/>
							</div>
							<div class="col-sm-4">
								<input type="password" class="form-control"
									title="Enter a password to go with this username"
									placeholder="password"
									data-trigger="focus"
									data-validate="notEmpty"
								/>
							</div>
							<div class="col-sm-4">
								<button type="button" class="btn btn-default" title="Add this user to the list of users who are allowed to see your Dropkick site"><span class="glyphicon glyphicon-plus"></span> Add user</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
						<button type="submit" class="btn btn-success">Save changes</button>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Custom domain names</legend>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Domain names<br/><h6>This requires that you <a href="/faq#dns">point your DNS to Dropkick</a></h6></label>
					<div class="col-sm-6 col-lg-4">
						<textarea class="form-control" rows="3"
							name="dns"
							title="Enter all the domain names which you want to point to this Dropkick site (e.g. ‘my-extranet.com’ or ‘extranet.my-domain.com’). If entering multiple domain names, enter one per line. You must already own these domain names for this to work."
							placeholder="my-domain.com"
							data-trigger="focus"
						></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
						<button type="submit" class="btn btn-success">Save changes</button>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Delete site</legend>
				<div class="form-group">
					<ul>
						<li>Deleting this site will permanently remove the Dropkick site located at <strong>{{ session.urls.organization }}{{ site.alias }}</strong></li>
						<li>Deleting this site will unlink the site’s Dropbox folder from the Dropkick service.</li>
						<li>Deleting this site will <b>not</b> delete the contents of your Dropbox folder.</li>
					</ul>
					<label class="col-sm-3 col-lg-2 control-label">Are you sure?</label>
					<div class="col-sm-9">
						<div class="checkbox">
							<label>
								<input type="checkbox"/> I want to permanently delete this Dropkick site
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
						<button type="button" class="btn btn-danger" disabled="disabled">Delete this site</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>