{{#>index title=(concat 'Canvas settings: ' content.site.label) navigation=true footer=true}}
	{{#*inline 'navbar'}}
		{{#>breadcrumb}}
		{{>breadcrumb-item link=session.urls.admin.sites icon='dashboard' label='Your canvases'}}
		{{>breadcrumb-item link=(concat session.urls.admin.sites '/' content.site.name) icon='globe' label=content.site.label}}
		{{/breadcrumb}}
	{{/inline}}
	{{#*inline 'content'}}
		<div class="mb15">
			<h4 class="no-margin text-uppercase">Canvas settings: {{ content.site.label }}</h4>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-10">
				<div class="mb25">
					{{#if content.site.published}}
					<div class="alert alert-block alert-success mb10">
						<i class="pull-left fa fa-arrow-right"></i>
						<div>
							<h5>This canvas is published at
								<a href="{{ session.urls.webroot }}{{ content.site.name }}" target="_blank">{{ session.urls.webroot }}{{ content.site.name }}</a>
							</h5>
							<ul>
								<li>Click <strong>Edit canvas</strong> to change how the canvas looks, and to add files to the canvas. Any changes you make will be applied to the live canvas.</li>
								<li>Click the <strong>Visit canvas</strong> button to take a look at the live canvas</li>
								<li>To take the canvas offline, click the <strong>Unpublish canvas</strong> button</li>
							</ul>
						</div>
					</div>
					{{else}}
					<div class="alert alert-block alert-info">
						<i class="pull-left fa fa-wrench"></i>
						<div>
							<h5 class="xs-mt15">This canvas is not published.</h5>
							<ul>
								<li>Click <strong>Edit canvas</strong> to choose how the canvas will look, and to add files to the canvas</li>
								<li>Click the <strong>Preview canvas</strong> button to see exactly how the canvas will look when it's published</li>
								<li>Once you're ready to take the canvas live, click the <strong>Publish canvas</strong> button</li>
							</ul>
						</div>
					</div>
					{{/if}}
					<div class="row">
						<div class="col-md-4">
							<a class="widget md-mb0 lg-mb0 bg-primary" href="{{ session.urls.admin.sites }}/{{ content.site.name }}/edit">
								<i class="widget-icon bg-white pull-left fa fa-paint-brush"></i>
								<h4>Edit canvas</h4>
							</a>
						</div>
						{{#if content.site.published}}
						<div class="col-md-4">
							<a class="widget md-mb0 lg-mb0 bg-primary" href="{{ session.urls.webroot }}{{ content.site.name }}" target="_blank">
								<i class="widget-icon bg-white pull-left fa fa-external-link-square"></i>
								<h4>Visit canvas</h4>
							</a>
						</div>
						<div class="col-md-4">
							<button class="widget btn btn-block bg-danger mb0" data-toggle="collapse" data-target="#unpublish-site" aria-expanded="false" aria-controls="unpublish-site">
								<i class="widget-icon bg-white pull-left fa fa-power-off"></i>
								<h4>Unpublish canvas</h4>
							</button>
							<div class="widget bg-danger text-nowrap mb0">
								<i class="widget-icon bg-white pull-left fa fa-power-off"></i>
								<h4>Unpublish canvas</h4>
							</div>
						</div>
						<div class="col-md-12 collapse" id="unpublish-site">
							<div class="panel-body bg-white">
								<div class="col-lg-12">
									<form class="form-horizontal bordered-group" role="form" method="POST" action="{{ session.urls.admin.sites }}/{{ content.site.name }}" autocomplete="off">
										<input type="hidden" name="_method" value="PUT"/>
										<input type="hidden"
											name="published"
											value="false"
										/>
										<input type="hidden"
											name="home"
											value="false"
										/>
										<div class="alert alert-block alert-danger">
											<i class="pull-left fa fa-exclamation-circle"></i>
											<div>
												<h5 class="mb20">You are about to take this canvas offline. Any links to <a>{{ session.urls.webroot }}{{ content.site.name }}</a> will no longer work.</h5>
												<button type="submit" class="btn btn-danger mr5 mb10">Unpublish canvas</button>
												<button type="button" class="btn btn-default mb10" data-toggle="collapse" data-target="#unpublish-site" aria-expanded="false" aria-controls="unpublish-site">Cancel</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						{{else}}
						<div class="col-md-4">
							<a class="widget md-mb0 lg-mb0 bg-primary" href="{{ session.urls.admin.preview }}/{{ content.site.name }}{{#if content.site.private}}/login{{/if}}" target="_blank">
								<i class="widget-icon bg-white pull-left fa fa-external-link-square"></i>
								<h4>Preview canvas</h4>
							</a>
						</div>
						<div class="col-md-4">
							<button class="widget btn btn-block bg-success mb0" data-toggle="collapse" data-target="#publish-site" aria-expanded="false" aria-controls="publish-site">
								<i class="widget-icon bg-white pull-left fa fa-power-off"></i>
								<h4>Publish canvas</h4>
							</button>
							<div class="widget bg-success text-nowrap mb0">
								<i class="widget-icon bg-white pull-left fa fa-power-off"></i>
								<h4>Publish canvas</h4>
							</div>
						</div>
						<div class="col-md-12 collapse" id="publish-site">
							<div class="panel-body bg-white">
								<div class="col-lg-12">
									<form class="form-horizontal bordered-group" role="form" method="POST" action="{{ session.urls.admin.sites }}/{{ content.site.name }}" autocomplete="off">
										<input type="hidden" name="_method" value="PUT"/>
										<input type="hidden"
											name="published"
											value="true"
										/>
										<div class="alert alert-info">
											<i class="pull-left fa fa-exclamation-circle"></i>
											<div>
												<h5>You are about to publish this canvas to the internet</h5>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Web address</label>
											<div class="col-sm-10">
												<div class="web-address-control input-group">
													<div class="input-group-addon"><span class="hidden-xs">{{ session.urls.webroot }}</span><span class="visible-xs" title="{{ session.urls.webroot }}">…/</span></div>
													<input type="text" class="form-control"
														name="name"
														value="{{ content.site.name }}"
														data-bind-id="site-name"
														data-parser="slug"
														data-validate="slug"
														data-trigger="focus"
													/>
													<span class="form-control-feedback fa" aria-hidden="true"></span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Home canvas</label>
											<div class="col-sm-10">
												<div class="checkbox">
													<label>
														<input type="hidden"
															name="home"
															value="false"
														/>
														<input type="checkbox"
															name="home"
															value="true"
															{{#unless session.user.defaultSite}}checked="checked"{{/unless}}
														/>
														<span class="checkbox-label">Use this as my home canvas</span>
													</label>
												</div>
												<p class="help-block">Your home canvas is the canvas that loads when a user navigates to <strong><a>{{ session.urls.webroot }}</a></strong></p>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-10 col-sm-offset-2">
												<button type="submit" class="btn btn-success">Publish canvas</button>
												<button type="reset" class="btn btn-default pull-right" data-toggle="collapse" data-target="#publish-site" aria-expanded="false" aria-controls="publish-site">Cancel</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		{{#if content.site.published}}
		<div class="row">
			<div class="col-md-12 col-lg-10">
				<div class="panel mb25">
					<div class="panel-heading border">
						<h4 class="no-margin text-uppercase"><i class="fa fa-share-alt mr10"></i>Share this canvas</h4>
					</div>
					<div class="panel-body">
						<p>Copy and paste this link to share your canvas:</p>
						<p>
							<input type="text" class="form-control mb15 visible-xs" data-select-all-input
								value="{{ session.urls.webroot }}{{ content.site.name }}"
							/>
							<input type="text" class="form-control input-lg mb15 hidden-xs" data-select-all-input
								value="{{ session.urls.webroot }}{{ content.site.name }}"
							/>
						</p>
						<p>
						<a href="mailto:?body={{ session.urls.webroot }}{{ content.site.name }}" class="btn btn-success btn-sm btn-icon mr5">
							<i class="fa fa-send mr5"></i>
							<span>Share via email</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		{{/if}}
		<div class="row">
			<div class="col-md-12 col-lg-10">
				<div class="panel panel-info mb5">
					<a class="panel-heading collapsed" data-toggle="collapse" href="#password-protection" aria-expanded="{{eq session.state.activeRegion 'password-protection'}}" aria-controls="password-protection" role="tab">
						<div class="pull-left"><i class="fa fa-lock mr10"></i>Password protection</div>
						<div class="panel-controls"><i class="panel-arrow fa fa-angle-up"></i></div>
					</a>
					<div id="password-protection" class="panel-collapse collapse{{#if (eq session.state.activeRegion 'password-protection')}} in{{/if}}" role="tabpanel" data-accordion-anchor>
						<div class="panel-body">
							<div class="row no-margin">
								<div class="col-lg-12">
									<form class="form-horizontal bordered-group" role="form" method="POST" action="{{ session.urls.admin.sites }}/{{ content.site.name }}" autocomplete="off">
										<input type="hidden" name="_method" value="PUT"/>
										<input type="hidden" name="_state.activeRegion" value="password-protection"/>
										<div class="form-group">
											<label class="col-sm-2 control-label">Privacy settings</label>
											<div class="col-sm-10">
												<div class="checkbox">
													<label>
														<input type="hidden"
															name="private"
															value="false"
														/>
														<input type="checkbox"
															name="private"
															value="true"
															{{#if content.site.private}}checked="checked"{{/if}}
														/>
														<span class="checkbox-label">Password protect this canvas</span>
													</label>
												</div>
											</div>
										</div>
										{{#if content.site.private}}
										<div class="form-group">
											<label class="col-sm-2 control-label">Users</label>
											<div class="col-sm-10">
												<p class="form-control-static">
													{{#if content.site.users}}
													{{#if (eq content.site.users.length 1)}}
													1 registered user
													{{else}}
													{{content.site.users.length}} registered users
													{{/if}}
													{{else}}
													<span class="text-danger"><i class="fa fa-exclamation-circle"></i> Nobody is allowed to access this canvas</span>
													{{/if}}
													(<a href="{{ session.urls.admin.sites }}/{{ content.site.name }}/users">edit</a>)
												</p>
											</div>
										</div>
										{{/if}}
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="submit" class="btn btn-success">Save changes</button>
												<button type="reset" class="btn btn-default pull-right">Reset changes</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{#if content.site.published}}
				<div class="panel panel-info mb5">
					<a class="panel-heading collapsed" data-toggle="collapse" href="#site-address" aria-expanded="{{eq session.state.activeRegion 'site-address'}}" aria-controls="site-address" role="tab">
						<div class="pull-left"><i class="fa fa-pencil-square-o mr10"></i>Web address</div>
						<div class="panel-controls"><i class="panel-arrow fa fa-angle-up"></i></div>
					</a>
					<div id="site-address" class="panel-collapse collapse{{#if (eq session.state.activeRegion 'site-address')}} in{{/if}}" role="tabpanel" data-accordion-anchor>
						<div class="panel-body">
							<div class="row no-margin">
								<div class="col-lg-12">
									<form class="form-horizontal bordered-group" role="form" method="POST" action="{{ session.urls.admin.sites }}/{{ content.site.name }}" autocomplete="off">
										<input type="hidden" name="_method" value="PUT"/>
										<input type="hidden" name="_state.activeRegion" value="site-address"/>
										<div class="alert alert-block alert-warning">
											<i class="pull-left fa fa-exclamation-triangle mt10"></i>
											<div>
												<h5>Before changing this canvas's web address, bear the following points in mind:</h5>
												<ul>
													<li>After changing the canvas's address, any links to <strong><a>{{ session.urls.webroot }}{{ content.site.name }}</a></strong> will <strong>no longer work.</strong></li>
													<li>If you have set up a custom domain name for this canvas, you will need to update your DNS settings to reflect the new web address.</li>
												</ul>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Web address</label>
											<div class="col-sm-10">
												<div class="web-address-control input-group">
													<div class="input-group-addon"><span class="hidden-xs">{{ session.urls.webroot }}</span><span class="visible-xs" title="{{ session.urls.webroot }}">…/</span></div>
													<input type="text" class="form-control"
														name="name"
														value="{{ content.site.name }}"
														data-bind-id="site-name"
														data-parser="slug"
														data-validate="slug"
														data-trigger="focus"
													/>
													<span class="form-control-feedback fa" aria-hidden="true"></span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="submit" class="btn btn-success">Save changes</button>
												<button type="reset" class="btn btn-default pull-right">Reset changes</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/if}}
				{{#if content.site.published}}
				<div class="panel panel-info mb5">
					<a class="panel-heading collapsed" data-toggle="collapse" href="#home-site" aria-expanded="{{eq session.state.activeRegion 'home-site'}}" aria-controls="home-site" role="tab">
						<div class="pull-left"><i class="fa fa-home mr10"></i>Home canvas</div>
						<div class="panel-controls"><i class="panel-arrow fa fa-angle-up"></i></div>
					</a>
					<div id="home-site" class="panel-collapse collapse{{#if (eq session.state.activeRegion 'home-site')}} in{{/if}}" role="tabpanel" data-accordion-anchor>
						<div class="panel-body">
							<div class="row no-margin">
								<div class="col-lg-12">
									<form class="form-horizontal bordered-group" role="form" method="POST" action="{{ session.urls.admin.sites }}/{{ content.site.name }}" autocomplete="off">
										<input type="hidden" name="_method" value="PUT"/>
										<input type="hidden" name="_state.activeRegion" value="home-site"/>
										<div class="form-group">
											<label class="col-sm-2 control-label">Home canvas</label>
											<div class="col-sm-10">
												<div class="checkbox">
													<label>
														<input type="hidden"
															name="home"
															value="false"
														/>
														<input type="checkbox"
															name="home"
															value="true"
															{{#if content.site.home}}checked="checked"{{/if}}
														/>
														<span class="checkbox-label">Use this as my home canvas</span>
													</label>
												</div>
												<p class="help-block">Your home canvas is the canvas that loads when a user navigates to <strong><a>{{ session.urls.webroot }}</a></strong></p>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="submit" class="btn btn-success">Save changes</button>
												<button type="reset" class="btn btn-default pull-right">Reset changes</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/if}}
				<div class="panel panel-info mb5">
					<a class="panel-heading collapsed" data-toggle="collapse" href="#site-settings" aria-expanded="{{eq session.state.activeRegion 'site-settings'}}" aria-controls="site-settings" role="tab">
						<div class="pull-left"><i class="fa fa-cog mr10"></i>Canvas settings</div>
						<div class="panel-controls"><i class="panel-arrow fa fa-angle-up"></i></div>
					</a>
					<div id="site-settings" class="panel-collapse collapse{{#if (eq session.state.activeRegion 'site-settings')}} in{{/if}}" role="tabpanel" data-accordion-anchor>
						<div class="panel-body">
							<div class="row no-margin">
								<div class="col-lg-12">
									<form class="form-horizontal bordered-group" role="form" method="POST" action="{{ session.urls.admin.sites }}/{{ content.site.name }}" autocomplete="off">
										<input type="hidden" name="_method" value="PUT"/>
										<input type="hidden" name="_state.activeRegion" value="site-settings"/>
										<div class="form-group">
											<label class="col-sm-2 control-label">Name</label>
											<div class="col-sm-10">
												<input type="text" class="form-control"
													name="label"
													value="{{ content.site.label }}"
													data-validate="notEmpty"
													data-trigger="focus"
												/>
												<span class="form-control-feedback fa" aria-hidden="true"></span>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Linked folder</label>
											<div class="col-sm-10">
												<input type="hidden" name="root.adapter"
													value="{{ content.site.root.adapter }}"
												/>
												<div class="path-control" data-path-control-root="{{ lookup (lookup content.adapters content.site.root.adapter) 'rootLabel' }}">
													<input type="text" class="form-control"
														name="root.path"
														value="{{ content.site.root.path }}"
														data-bind-id="site-root-path"
													/>
													<ul class="path-control-segments"></ul>
													<p class="form-control-feedback fa" aria-hidden="true"
														data-bind-check-folder-exists="site-root-path"
														data-bind-check-folder-exists-adapter="{{ content.site.root.adapter }}"
													>
														<span class="filecanvas-check-folder-exists-loading text-default"><i class="fa fa-refresh fa-spin"></i></span>
														<span class="filecanvas-check-folder-exists-valid text-success"><i class="fa fa-check"></i></span>
														<span class="filecanvas-check-folder-exists-invalid text-danger"><i class="fa fa-exclamation-circle"></i></span>
													</p>
												</div>
											</div>
										</div>
										{{#unless content.site.published}}
										<div class="form-group">
											<label class="col-sm-2 control-label">Canvas ID</label>
											<div class="col-sm-10">
												<div class="web-address-control input-group">
													<div class="input-group-addon"><span class="hidden-xs">{{ session.urls.root }}/canvases/</span><span class="visible-xs" title="{{ session.urls.root }}/canvases/">…/</span></div>
													<input type="text" class="form-control"
														name="name"
														value="{{ content.site.name }}"
														data-bind-id="site-name"
														data-parser="slug"
														data-validate="slug"
														data-trigger="focus"
													/>
													<span class="form-control-feedback fa" aria-hidden="true"></span>
												</div>
											</div>
										</div>
										{{/unless}}
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="submit" class="btn btn-success">Save changes</button>
												<button type="reset" class="btn btn-default pull-right">Reset changes</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-info mb5">
					<a class="panel-heading collapsed" data-toggle="collapse" href="#delete-site" aria-expanded="{{eq session.state.activeRegion 'delete-site'}}" aria-controls="delete-site" role="tab">
						<div class="pull-left"><i class="fa fa-trash mr10"></i>Delete canvas</div>
						<div class="panel-controls"><i class="panel-arrow fa fa-angle-up"></i></div>
					</a>
					<div id="delete-site" class="panel-collapse collapse{{#if (eq session.state.activeRegion 'delete-site')}} in{{/if}}" role="tabpanel" data-accordion-anchor>
						<div class="panel-body">
							<div class="row no-margin">
								<div class="col-lg-12">
									<form class="form-horizontal bordered-group" role="form" method="POST" action="{{ session.urls.admin.sites }}/{{ content.site.name }}" autocomplete="off">
										<input type="hidden" name="_method" value="DELETE"/>
										<input type="hidden" name="_state.activeRegion" value="delete-site"/>
										<div class="alert alert-block alert-danger">
											<i class="pull-left fa fa-exclamation-circle mt10"></i>
											<div>
												<h5>Before deleting this canvas, bear the following points in mind:</h5>
												<ul>
													<li>Deleting this canvas will <strong>permanently</strong> remove the canvas located at <strong><a>{{ session.urls.webroot }}{{ content.site.name }}</strong></a></li>
													<li>Deleting this canvas will unlink the canvas’s folder from the Filecanvas service.</li>
													<li>Deleting this canvas will <strong>not</strong> delete the contents of the canvas’s folder.</li>
												</ul>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Are you sure?</label>
											<div class="col-sm-10">
												<div class="checkbox">
													<label>
														<input type="checkbox" data-bind-id="confirm-delete"/>
														<span class="checkbox-label">I want to permanently delete this canvas</span>
													</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="submit" class="btn btn-danger" disabled="disabled" data-bind-value="confirm-delete">Delete this canvas</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/inline}}
{{/index}}
