<div class="row">
	<div class="col-sm-12 col-lg-offset-1 col-lg-11">
		<h2>Registered users for {{ content.site.name }}</h2>
		<p class="lead">Use the fields below to control who is allowed to see this Shunt site.</p>
		<hr/>
		<div class="form-horizontal">
			{{#unless content.site.users}}
			<div class="alert alert-danger">
				<p><strong>Warning:</strong> There are no registered users for this site.</p>
			</div>
			{{/unless}}
			<fieldset>
				{{#if content.site.users}}
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Registered users</label>
					<div class="col-sm-6 col-lg-4">
						<table class="form-control-static table table-bordered table-condensed">
							<tbody>
								{{#each content.site.users }}
								<tr>
									<td class="site-user is-delete">
										<form class="site-user-delete" action="{{ ../session.urls.sites }}/{{ ../content.site.alias }}/users/{{ username }}" method="POST" autocomplete="off">
											<input type="hidden" name="_method" value="DELETE"/>
											<div class="pull-right">
												<button type="button" class="btn btn-default btn-xs" title="Change this user's password" onclick="this.parentNode.parentNode.parentNode.className = 'site-user is-password'"><span class="glyphicon glyphicon-cog"></span> Settings</button>
												<button type="submit" class="btn btn-danger btn-xs" title="Prevent this user from accessing this site"><span class="glyphicon glyphicon-remove"></span> Delete</button>
											</div>
											<div><span class="glyphicon"></span>{{ username }}</div>
										</form>
										<form class="clearfix site-user-password" action="{{ ../session.urls.sites }}/{{ ../content.site.alias }}/users/{{ username }}" method="POST" autocomplete="off">
											<input type="hidden" name="_method" value="PUT"/>
											<h5 class="col-sm-12">Change password for <b>{{ username }}</b>:</h5>
											<div class="col-sm-12">
												<div class="form-group col-sm-12">
													<input type="password" class="form-control input-sm"
														name="password"
														title="Enter a new password for this user"
														placeholder="New password"
														data-trigger="focus"
														data-validate="notEmpty"
													/>
												</div>
											</div>
											<p class="col-sm-12">
												<button type="submit" class="btn btn-success btn-sm" title="Change this user's password"><span class="glyphicon glyphicon-ok"></span> OK</button>
												<button type="button" class="btn btn-default btn-sm" title="Keep the existing password" onclick="this.parentNode.parentNode.parentNode.className = 'site-user is-delete'"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
											</p>
										</form>
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
				{{/if}}
				<form class="form-group" action="{{ session.urls.sites }}/{{ content.site.alias }}/users" method="POST" autocomplete="off">
					<input type="hidden" name="_method" value="POST"/>
					<label class="col-sm-3 col-lg-2 control-label">Add user</label>
					<div class="col-sm-6 col-lg-4">
						<div class="row">
							<div class="col-sm-6">
								<input type="text" class="form-control"
									name="username"
									title="Enter a username which your users can use to log into your Shunt site"
									placeholder="Username"
									data-trigger="focus"
									data-validate="notEmpty"
								/>
							</div>
							<div class="col-sm-6">
								<input type="password" class="form-control"
									name="password"
									title="Enter a password to go with this username"
									placeholder="Password"
									data-trigger="focus"
									data-validate="notEmpty"
								/>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-lg-2">
						<button type="submit" class="btn btn-success" title="Add this user to the list of users who are allowed to see your Shunt site"><span class="glyphicon glyphicon-plus"></span> Add user</button>
					</div>
				</form>
				<div class="form-group">
					<div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
						<a href="{{ session.urls.sites }}/{{ content.site.alias }}/settings" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back to site</a>
					</div>
				</div>
			</fieldset>
		</div>
	<div>
</div>
