<html lang="en">
<head>
	{{ partial 'head' title=metadata.theme.config.browser.title }}
</head>
<body data-admin={{ if metadata.admin '' null }} data-admin-upload={{ if metadata.admin '' null }}>
	{{#if (or metadata.theme.config.content.pageHeader metadata.theme.config.content.pageSubtitle)}}
	<header id="home">
		<div class="header-bg"></div>
		<div class="pattern"></div>
		<div class="container">
			<div class="row">
				<div class="span4">
					{{#if metadata.theme.config.images.headerLogo}}
					{{#if metadata.theme.config.footer.contactWebsite}}
					<a class="logo" href={{ metadata.theme.config.footer.contactWebsite }} target="_blank"></a>
					{{else}}
					<a class="logo"></a>
					{{/if}}
					{{/if}}
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<div id="slidecaption">
						<h1>{{ markdown metadata.theme.config.content.pageHeader }}</h1>
						<h2>{{ markdown metadata.theme.config.content.pageSubtitle }}</h2>
					</div>
				</div>
			</div>
		</div>
	</header>
	{{/if}}
	<div class="wrapper">
		{{#partial 'navbar'}}
		{{#if (or (folders resource.root) resource.private)}}
		<ul id="fluid-nav" class="fluid-navigation visible-desktop">
			{{#if (or metadata.theme.config.content.pageHeader metadata.theme.config.content.pageSubtitle)}}
			<li><a class="scroll-link" href="#home">Home</a></li>
			{{/if}}
			{{#each (folders resource.root) key='path' as |folder|}}
			{{#if folder.contents}}
			<li><a class="scroll-link" href="#{{ slug (basename folder.path) }}">{{ strip-number-prefix folder }}</a></li>
			{{/if}}
			{{/each}}
			{{#if resource.private}}
			<li><a class="scroll-link external" href={{if metadata.preview 'javascript:;' (logout @root) }}>Log out</a></li>
			{{/if}}
		</ul>
		{{/if}}
		{{/partial}}
		<section class="pages">
			{{#if (or metadata.theme.config.content.introTitle metadata.theme.config.content.introText (files resource.root))}}
			<div class="page">
				<div class="container">
					<div class="row">
						<div class="span12">
							{{#if metadata.theme.config.content.introTitle}}
							<div class="title">{{ metadata.theme.config.content.introTitle }}</div>
							{{#if metadata.theme.config.content.introText}}
							<hr/>
							{{/if}}
							{{/if}}
							{{#if metadata.theme.config.content.introText}}
							<div class="lead-small">{{ markdown metadata.theme.config.content.introText }}</div>
							{{/if}}
							{{#if (files resource.root)}}
							<div class="posts row isotope">
								{{#each (files resource.root) key='path' as |file|}}
								{{ partial 'file' file=file }}
								{{/each}}
							</div>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
			{{/if}}
			{{#each (folders resource.root) key='path' as |folder|}}
			<div id={{ slug (basename folder.path) }} class="page">
				<div class="container">
					<div class="row">
						<div class="span12" data-admin-upload={{ if metadata.admin folder.path null }}>
							<div class="title">{{ strip-number-prefix folder }}</div>
							<hr/>
							<div class="lead-small" data-section-header={{ strip-number-prefix folder }}></div>
							{{#if (folders folder)}}
							<ul class="option-set" data-option-key="filter">
								<li><a href="#filter" data-option-value="*" class="selected"><span></span>All</a></li>
								{{#each (folders folder) key='path' as |subfolder|}}
								{{#if subfolder.directory}}
								<li data-admin-upload={{ if metadata.admin subfolder.path null }}><a href="#filter" data-option-value=".filter-{{ slug (basename subfolder.path) }}"><span></span>{{ strip-number-prefix subfolder }}</a></li>
								{{/if}}
								{{/each}}
							</ul>
							{{/if}}
							<div class="posts row isotope">
								{{#each (files folder) key='path' as |file|}}
								{{ partial 'file' file=file }}
								{{/each}}
								{{#each (folders folder) key='path' as |subfolder|}}
								{{#each (files subfolder) key='path' as |file|}}
								{{ partial 'file' file=file }}
								{{/each}}
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</section>
		<footer>
			{{#if (or
			metadata.theme.config.footer.contactTitle
			metadata.theme.config.footer.contactEmail
			metadata.theme.config.footer.contactWebsite
			metadata.theme.config.footer.contactPhone
			metadata.theme.config.footer.contactAddress
			metadata.theme.config.footer.footerTitle
			metadata.theme.config.footer.footerText
			)}}
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="contact span6">
							<h5>{{ metadata.theme.config.footer.contactTitle }}</h5>
							{{#if metadata.theme.config.footer.contactEmail}}
							<p><strong>E-mail:</strong> <a class="white-text" href="mailto:{{ metadata.theme.config.footer.contactEmail }}">{{ metadata.theme.config.footer.contactEmail }}</a></p>
							{{/if}}
							{{#if metadata.theme.config.footer.contactWebsite}}
							<p><strong>Web:</strong> <a class="white-text" href={{ metadata.theme.config.footer.contactWebsite }} target="_blank">{{ metadata.theme.config.footer.contactWebsite }}</a></p>
							{{/if}}
							{{#if metadata.theme.config.footer.contactPhone}}
							<p><strong>Phone:</strong> <span class="white-text">{{ metadata.theme.config.footer.contactPhone }}</span></p>
							{{/if}}
							{{#if metadata.theme.config.footer.contactAddress}}
							<p><strong>Location:</strong> <span class="white-text">{{ metadata.theme.config.footer.contactAddress }}</span></p>
							{{/if}}
						</div>
						<div class="span2"></div>
						<div class="about span4">
							<h5>{{ metadata.theme.config.footer.footerTitle }}</h5>
							{{ markdown metadata.theme.config.footer.footerText }}
						</div>
					</div>
				</div>
			</div>
			{{/if}}
			{{ partial 'banner' }}
		</footer>
	</div>
	<div id="overlay" class="overlay" data-overlay>
		<div class="overlay-content" data-role="content"></div>
		<div class="overlay-sidepanel">
			<button class="overlay-close" data-role="close"></button>
			<div class="overlay-details">
				<h1 class="overlay-title" data-role="title"></h1>
				<div class="overlay-description" data-role="description"></div>
			</div>
			<div class="overlay-controls">
				<a class="overlay-download" download data-role="download" href="#">Download</a>
			</div>
		</div>
	</div>
	{{ script src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js' }}
	{{ script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-one-page-nav/2.2.0/jquery.nav.min.js' }}
	{{ script src='https://cdn.jsdelivr.net/jquery.sticky/1.0.1/jquery.sticky.min.js' }}
	{{ script src=(asset @root 'js/selectnav.min.js') }}
	{{ script src=(asset @root 'js/main.js') }}
</body>
</html>
