<html lang="en">
<head>
	{{> head }}
	{{#if metadata.redirect}}
	<meta http-equiv="refresh" content="0;url={{ metadata.redirect }}"/>
	{{/if}}
</head>
<body data-admin={{ if metadata.admin '' null }} data-admin-upload={{ if metadata.admin '' null }}>
	<div class="wrapper{{ if (or
		metadata.theme.config.footer.contactTitle
		metadata.theme.config.footer.contactEmail
		metadata.theme.config.footer.contactWebsite
		metadata.theme.config.footer.contactPhone
		metadata.theme.config.footer.contactAddress
		metadata.theme.config.footer.footerTitle
		metadata.theme.config.footer.footerText
		) ' has-footer' }}"
	>
		{{#if (or metadata.theme.config.content.pageHeader metadata.theme.config.content.pageSubtitle metadata.theme.config.images.headerLogo)}}
		<header id="home" class={{ if metadata.theme.config.images.headerLogo (if metadata.theme.config.images.headerLogoCentered 'has-logo logo-centered' 'has-logo') null }}>
			<div class="container">
				<div class="row ">
					{{#if metadata.theme.config.images.headerLogo}}
					<div class="span12">
						<div class="logo-container{{ if (eq metadata.theme.config.images.headerLogoCentered 'true') ' centered' '' }}">
							<div class="logo">
								<img src={{ metadata.theme.config.images.headerLogo }} />
							</div>
						</div>
					</div>
					{{/if}}
					<div class="span12">
						<div id="slidecaption">
							<h1 data-admin-field="theme.config.content.pageHeader">{{ markdown metadata.theme.config.content.pageHeader }}</h1>
							<h2 data-admin-field="theme.config.content.pageSubtitle">{{ markdown metadata.theme.config.content.pageSubtitle }}</h2>
						</div>
					</div>
				</div>
			</div>
		</header>
		{{/if}}
		{{#partial 'navbar'}}
		{{#if (or (folders resource.root) resource.private)}}
		<ul id="fluid-nav" class="fluid-navigation visible-desktop">
			{{#if (or metadata.theme.config.content.pageHeader metadata.theme.config.content.pageSubtitle)}}
			<li><a class="scroll-link" href="#home">Home</a></li>
			{{/if}}
			{{#each (folders resource.root) key='path' as |folder|}}
			{{#if folder.contents}}
			<li><a class="scroll-link" href="#{{ slug (basename folder.path) }}">{{ strip-number-prefix folder }}</a></li>
			{{/if}}
			{{/each}}
			{{#if resource.private}}
			<li><a class="scroll-link external" href={{if metadata.preview 'javascript:;' (logout @root) }}>Log out</a></li>
			{{/if}}
		</ul>
		{{/if}}
		{{/partial}}
		<section class="pages">
			{{#if (or metadata.theme.config.content.introTitle metadata.theme.config.content.introText (files resource.root))}}
			<div class="page">
				<div class="container">
					<div class="row">
						<div class="span12">
							{{#if metadata.theme.config.content.introTitle}}
							<div class="title" data-admin-field="theme.config.content.introTitle">{{ metadata.theme.config.content.introTitle }}</div>
							{{#if metadata.theme.config.content.introText}}
							<hr/>
							{{/if}}
							{{/if}}
							{{#if metadata.theme.config.content.introText}}
							<div class="lead-small" data-admin-field="theme.config.content.introText">{{ markdown metadata.theme.config.content.introText }}</div>
							{{/if}}
							{{#if (files resource.root)}}
							<div class="posts row isotope">
								{{#each (files resource.root) key='path' as |file|}}
								{{ partial 'file' file=file parent=subfolder }}
								{{/each}}
							</div>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
			{{/if}}
			{{#each (folders resource.root) key='path' as |folder|}}
			<div id={{ slug (basename folder.path) }} class="page">
				<div class="container">
					<div class="row">
						<div class="span12" data-admin-upload={{ if metadata.admin folder.path null }}>
							<div class="title">{{ strip-number-prefix folder }}</div>
							<hr/>
							<div class="lead-small" data-section-header={{ strip-number-prefix folder }}></div>
							{{#if (folders folder)}}
							<ul class="option-set" data-option-key="filter">
								<li><a href="#filter" data-option-value="*" class="selected"><span></span>All</a></li>
								{{#each (folders folder) key='path' as |subfolder|}}
								{{#if subfolder.directory}}
								<li data-admin-upload={{ if metadata.admin subfolder.path null }}><a href="#filter" data-option-value=".filter-{{ slug (basename subfolder.path) }}"><span></span>{{ strip-number-prefix subfolder }}</a></li>
								{{/if}}
								{{/each}}
							</ul>
							{{/if}}
							<div class="posts row isotope">
								{{#each (files folder) key='path' as |file|}}
								{{ partial 'file' file=file parent=subfolder }}
								{{/each}}
								{{#each (folders folder) key='path' as |subfolder|}}
								{{#each (flattenedFiles subfolder) key='path' as |file|}}
								{{ partial 'file' file=file parent=subfolder }}
								{{/each}}
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</section>
		{{#if (or
		metadata.theme.config.footer.contactTitle
		metadata.theme.config.footer.contactEmail
		metadata.theme.config.footer.contactWebsite
		metadata.theme.config.footer.contactPhone
		metadata.theme.config.footer.contactAddress
		metadata.theme.config.footer.footerTitle
		metadata.theme.config.footer.footerText
		)}}
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="contact span6">
						<h5 data-admin-field="theme.config.footer.contactTitle">{{ metadata.theme.config.footer.contactTitle }}</h5>
						{{#if metadata.theme.config.footer.contactEmail}}
						<p><strong>E-mail:</strong> <a class="footer-detail" href="mailto:{{ metadata.theme.config.footer.contactEmail }}" data-admin-field="theme.config.footer.contactEmail">{{ metadata.theme.config.footer.contactEmail }}</a></p>
						{{/if}}
						{{#if metadata.theme.config.footer.contactWebsite}}
						<p><strong>Web:</strong> <a class="footer-detail" href={{ metadata.theme.config.footer.contactWebsite }} target="_blank" data-admin-field="theme.config.footer.contactWebsite">{{ metadata.theme.config.footer.contactWebsite }}</a></p>
						{{/if}}
						{{#if metadata.theme.config.footer.contactPhone}}
						<p><strong>Phone:</strong> <span class="footer-detail" data-admin-field="theme.config.footer.contactPhone">{{ metadata.theme.config.footer.contactPhone }}</span></p>
						{{/if}}
						{{#if metadata.theme.config.footer.contactAddress}}
						<p><strong>Location:</strong> <span class="footer-detail" data-admin-field="theme.config.footer.contactAddress">{{ metadata.theme.config.footer.contactAddress }}</span></p>
						{{/if}}
					</div>
					<div class="span2"></div>
					<div class="about span4">
						<h5 data-admin-field="theme.config.footer.footerTitle">{{ metadata.theme.config.footer.footerTitle }}</h5>
						<div data-admin-field="theme.config.footer.footerText">
						{{ markdown metadata.theme.config.footer.footerText }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{/if}}
		<footer>
			{{> banner }}
		</footer>
	</div>
	{{ script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js' }}
	{{ script src='//cdnjs.cloudflare.com/ajax/libs/jquery-one-page-nav/3.0.0/jquery.nav.min.js' }}
	{{ script src='//cdn.jsdelivr.net/jquery.sticky/1.0.1/jquery.sticky.min.js' }}
	{{ script src=(asset @root 'js/selectnav.min.js') }}
	{{ script src=(asset @root 'js/filecanvas-theme.js') }}
	{{ script src=(asset @root 'js/main.js') }}
</body>
</html>
