{{#> index}}
	{{#*inline 'content'}}
		<div class="row">
			<div class="col-md-12 col-lg-10">
				<div class="panel panel-primary mb25">
					<div class="panel-heading">
						<h4 class="no-margin text-uppercase"><i class="fa fa-user mr10"></i>Your account</h4>
					</div>
					<div class="panel-body">
						<div class="row no-margin">
							<div class="col-lg-12">
								<form class="form-horizontal bordered-group" role="form" method="POST" action="{{ session.urls.account }}" autocomplete="off">
									<input type="hidden" name="_method" value="PUT"/>
									<div class="form-group">
										<label class="col-sm-2 control-label">Name</label>
										<div class="col-sm-4">
											<input type="text" class="form-control"
												name="firstName"
												placeholder="First name"
												value="{{ content.user.firstName }}"
												data-validate="notEmpty"
											/>
											<span class="form-control-feedback fa" aria-hidden="true"></span>
										</div>
										<div class="col-sm-6">
											<input type="text" class="form-control"
												name="lastName"
												placeholder="Last name"
												value="{{ content.user.lastName }}"
											/>
											<span class="form-control-feedback fa" aria-hidden="true"></span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Email</label>
										<div class="col-sm-10">
											<input type="text" class="form-control"
												name="email"
												placeholder="Email address"
												value="{{ content.user.email }}"
												data-validate="email"
											/>
											<span class="form-control-feedback fa" aria-hidden="true"></span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Home site</label>
										<div class="col-sm-10">
											<select class="form-control"
												name="defaultSite"
											>
												<option value="">No home site</option>
												{{#each session.sites as |site|}}
												<option value="{{ site.name }}"{{#if (eq site.name ../content.user.defaultSite)}} selected="selected"{{/if}}>{{ site.label }}</option>
												{{/each}}
											</select>
											<p class="help-block">This is the site that loads when a user navigates to <strong>{{ session.urls.webroot }}</strong></p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button type="submit" class="btn btn-success">Save changes</button>
											<button type="reset" class="btn btn-default pull-right">Reset changes</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-10">
				<div class="panel panel-info mb5">
					<a class="panel-heading collapsed" data-toggle="collapse" href="#change-username" aria-expanded="{{eq session.state.activeRegion 'change-username'}}" aria-controls="change-username" role="tab">
						<div class="pull-left"><i class="fa fa-pencil mr10"></i>Change your username</div>
						<div class="panel-controls"><i class="panel-arrow fa fa-angle-up"></i></div>
					</a>
					<div id="change-username" class="panel-collapse collapse{{#if (eq session.state.activeRegion 'change-username')}} in{{/if}}" role="tabpanel" data-collapse-anchor>
						<div class="panel-body">
							<div class="row no-margin">
								<div class="col-lg-12">
									<form class="form-horizontal bordered-group" role="form" method="POST" action="{{ session.urls.account }}" autocomplete="off">
										<input type="hidden" name="_method" value="PUT"/>
										<input type="hidden" name="_state.activeRegion" value="change-username"/>
										<div class="alert alert-block alert-warning">
											<i class="pull-left fa fa-exclamation-triangle mt10"></i>
											<div>
												<h5>Before changing your username, bear the following points in mind:</h5>
												<ul>
													<li>Your username determines your Shunt web root, where your sites are located.</li>
													<li>Changing your username will change the web address of <strong>all your Shunt sites</strong>.</li>
													<li>Any custom domain name DNS settings will need to be updated to reflect your updated web root address.</li>
												</ul>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Username</label>
											<div class="col-sm-10">
												<input type="text" class="form-control"
													name="username"
													placeholder="Username"
													value="{{ content.user.username }}"
													data-bind-id="username"
													data-parser="slug"
													data-validate="slug"
												/>
												<span class="form-control-feedback fa" aria-hidden="true"></span>
												<p class="help-block">Sites will be moved to {{ replace session.urls.domain '$0' (wrap content.user.username '<strong data-bind-value="username">' '</strong>') }}
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="submit" class="btn btn-success">Save changes</button>
												<button type="reset" class="btn btn-default pull-right">Reset changes</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-info mb5">
					<a class="panel-heading collapsed" data-toggle="collapse" href="#delete-account" aria-expanded="{{eq session.state.activeRegion 'delete-account'}}" aria-controls="delete-account" role="tab">
						<div class="pull-left"><i class="fa fa-trash mr10"></i>Delete your account</div>
						<div class="panel-controls"><i class="panel-arrow fa fa-angle-up"></i></div>
					</a>
					<div id="delete-account" class="panel-collapse collapse{{#if (eq session.state.activeRegion 'delete-account')}} in{{/if}}" role="tabpanel" data-collapse-anchor>
						<div class="panel-body">
							<div class="row no-margin">
								<div class="col-lg-12">
									<form class="form-horizontal bordered-group" role="form" method="POST" action="{{ session.urls.account }}" autocomplete="off">
										<input type="hidden" name="_method" value="DELETE"/>
										<input type="hidden" name="_state.activeRegion" value="delete-account"/>
										<div class="alert alert-block alert-danger">
											<i class="pull-left fa fa-exclamation-circle"></i>
											<div>
												<h5>Before deleting your account, bear the following points in mind:</h5>
												<ul>
													<li>Deleting this account will <strong>permanently</strong> remove all Shunt sites located at <strong>{{ session.urls.webroot }}</strong></li>
													<li>Deleting this site will unlink your Dropbox folder from the Shunt service.</li>
													<li>Deleting this site will <strong>not</strong> delete the contents of your Dropbox folder.</li>
												</ul>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Are you sure?</label>
											<div class="col-sm-10">
												<div class="checkbox">
													<label>
														<input type="checkbox" data-bind-id="confirm-delete"/> I want to permanently delete my account
													</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-2 col-sm-10">
												<button type="submit" class="btn btn-danger" disabled="disabled" data-bind-value="confirm-delete">Delete my account</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/inline}}
{{/index}}
