{{#> index}}
	{{#*inline 'content'}}
		<form class="row no-margin" role="form" method="POST" action="{{ session.urls.create }}" target="_top" autocomplete="off">
			<input type="hidden" name="_method" value="POST"/>
			<input type="hidden" name="theme.id" value="{{ content.site.theme.id }}"/>
			<input type="hidden" name="theme.config" value="{{ json content.site.theme.config }}"/>
			<div class="mb20">
				<p>Choose where to store this site's files within your {{ lookup (lookup content.adapters content.site.root.adapter) 'name' }}:</p>
			</div>
			<div class="text-center">
				<input type="hidden"
					name="root.adapter"
					value="{{ content.site.root.adapter }}"
				/>
				<input type="hidden"
					name="name"
					value="{{ content.site.name }}"
					data-bind-value="site-label|slug"
				/>
				<input type="hidden"
					name="root.path"
					value="{{ content.site.root.path }}"
					readonly="readonly"
					data-bind-value="site-label|filename|format:'{{ lookup (lookup content.adapters content.site.root.adapter) 'path' }}$0'"
					data-validate="path,notEmpty"
				/>
				<div class="path-control has-extra"
					data-path-control-root="{{ lookup (lookup content.adapters content.site.root.adapter) 'label' }}"
				>
					<input type="text" class="form-control"
						readonly="readonly"
						value="{{ lookup (lookup content.adapters content.site.root.adapter) 'path' }}"
					/>
					<ul class="path-control-segments">
					</ul><div class="path-control-extra">
						<div class="input-group input-group-sm">
							<span class="input-group-addon"><i class="fa fa-folder-o"></i></span>
							<input type="text" class="form-control" autofocus="autofocus"
								name="label"
								value="{{ content.site.label }}"
								placeholder="Type a folder name"
								data-bind-id="site-label"
								data-validate="notEmpty,filename"
							/>
						</div>
					</div>
					<span class="form-control-feedback fa" aria-hidden="true"></span>
				</div>
				<span class="form-control-feedback fa" aria-hidden="true"></span>
			</div>
			<div class="text-center mt30">
				<button type="submit" class="btn btn-primary">Create site folder</button>
			</div>
		</form>
	{{/inline}}
{{/index}}
