{{#>index title='FAQ' navigation=true footer=true}}
	{{#*inline 'navbar'}}
		{{#>breadcrumb}}
		{{>breadcrumb-item link=session.urls.admin.faq icon='info-circle' label='FAQ'}}
		{{/breadcrumb}}
	{{/inline}}
	{{#*inline 'content'}}
		<div class="row">
			<div class="col-md-12 col-lg-10 mb20">
				<div class="mb15">
					<h4 class="no-margin text-uppercase">Frequently asked questions</h4>
				</div>
				{{#each content.questions as |question|}}
				<div class="panel panel-primary mb5">
					<a class="panel-heading collapsed" data-toggle="collapse" href="#{{ question.id }}" aria-expanded="false" aria-controls="{{ question.id }}" role="tab">
						<div class="pull-left">{{ question.title }}</div>
						<div class="panel-controls"><i class="panel-arrow fa fa-angle-up"></i></div>
					</a>
					<div id="{{ question.id }}" class="panel-collapse collapse" role="tabpanel" data-collapse-anchor>
						<div class="panel-body">
							{{{ question.body }}}
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	{{/inline}}
{{/index}}
