<h1 class="page-header">FAQ</h1>
<p class="lead">Below you will find answers to our most frequently asked questions.</p>
<p class="lead">For anything not in this list, contact us via the <a href="/support">Support</a> page.</p>

<section class="faq-toc">
	<ul>
		{{#each content.questions}}
		<li>
			<a href="#{{ id }}">{{ title }}</a>
		</li>
		{{/each}}
	</ul>
</section>

<hr/>

{{#each content.questions}}
<a class="faq-anchor" id="{{ id }}"></a>
<section class="faq-item">
	<h4>{{ title }}</h4>{{{ body }}}
</section>
{{/each}}
