<h1 class="page-header">Your sites</h1>

{{#if session.sites}}

<p class="lead">The following sites have been registered within this organization:</p>
<div class="row">
	<div class="col-sm-8 col-lg-5">
		<table class="table table-bordered table-condensed">
			<tbody>
				{{#each session.sites }}
				<tr>
					<td>
						{{ name }}
						<a href="{{ ../session.urls.organization }}{{ alias }}" target="_blank" title="Visit this site"><span class="glyphicon glyphicon-new-window"></span></a>
						<form class="pull-right" action="{{ ../session.urls.sites }}/{{ alias }}" method="POST">
							<input type="hidden" name="X-HTTP-Method-Override" value="DELETE"/>
							<input type="hidden" name="alias" value="{{ alias }}"/>
							<a class="btn btn-default btn-xs" href="{{ ../session.urls.sites }}/{{ alias }}" title="Edit this site’s details"><span class="glyphicon glyphicon-pencil"></span></a>
							<a class="btn btn-success btn-xs" href="#" title="Dropkick scans your Dropbox folder automatically. Use this link to manually trigger a re-scan of your Dropbox folder."><span class="glyphicon glyphicon-refresh"></span></a>
							<button type="submit" class="btn btn-danger btn-xs" title="Delete this site"><span class="glyphicon glyphicon-remove"></span></button>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<p><a class="btn btn-primary" href="{{ session.urls.sites }}"><span class="glyphicon glyphicon-plus"></span> Create a new site</a></p>
	</div>
</div>

{{else}}

<div class="alert alert-info">
	<p>There are no sites registered within this organization.</p>
	<p>Start using Dropkick by <a href="{{ session.urls.sites }}">adding a new site</a>.</p>
</div>

{{/if}}
