<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<link rel="shortcut icon" href="/favicon.ico"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="/assets/css/app.min.css"/>
		<link rel="stylesheet" href="/assets/css/shunt-admin.css"/>
		{{#each stylesheets as |stylesheet|}}
		<link rel="stylesheet" href="{{ stylesheet }}"/>
		{{/each}}
		<title>{{#if title}}{{ title }} | {{/if}}Shunt</title>
	</head>
	<body class="{{#unless navigation}} navigation-hidden{{/unless}}{{#if fullHeight}} full-height{{/if}}">
		<div class="app{{#if navigation}} layout-fixed-header{{/if}}">
			{{#if navigation}}
			<div class="sidebar-panel offscreen-left">
				<div class="brand">
					<h3 class="brand-logo"><a href="/">Shunt</a></h3>
				</div>
				<nav role="navigation">
					<ul class="nav">
						<li class="menu-accordion{{#if (and (startsWith session.location.pathname session.urls.sites) (not-eq session.location.pathname session.urls.sitesCreate))}} open{{/if}}">
							<a href="{{ session.urls.sites }}"><i class="fa fa-dashboard"></i> <span>Site dashboard</span></a>
							{{#if session.sites}}
							<ul class="sub-menu">
								{{#each session.sites as |site|}}
								<li{{#if (eq ../session.location.pathname (concat ../session.urls.sites '/' site.name))}} class="open"{{/if}}><a href="{{ ../session.urls.sites }}/{{ site.name }}"> <span>{{ site.label }}</span></a></li>
								{{/each}}
							</ul>
							{{/if}}
						</li>
						<li{{#if (eq session.location.pathname session.urls.sitesCreate)}} class="open"{{/if}}><a href="{{ session.urls.sitesCreate }}"><i class="fa fa-plus"></i> <span>Create a site</span></a></li>
						<li{{#if (eq session.location.pathname session.urls.faq)}} class="open"{{/if}}><a href="{{ session.urls.faq }}"><i class="fa fa-info-circle"></i><span>FAQ</span></a></li>
						<li{{#if (eq session.location.pathname session.urls.support)}} class="open"{{/if}}><a href="{{ session.urls.support }}"><i class="fa fa-question-circle"></i><span>Support</span></a></li>
						{{#if session.user}}
						<li class="visible-xs {{#if (eq session.location.pathname session.urls.account)}} open{{/if}}"><a href="{{ session.urls.account }}"><i class="fa fa-user"></i><span>Your account</span></a></li>
						<li class="visible-xs"><a href="{{ session.urls.logout }}"><i class="fa fa-sign-out"></i><span>Log out</span></a></li>
						{{/if}}
					</ul>
				</nav>
			</div>
			{{/if}}
			<div class="main-panel">
				{{#if navigation}}
				<header class="header navbar">
					<div class="brand visible-xs">
						<div class="toggle-offscreen">
							<a href="javascript:;" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
								<span></span><span></span><span></span>
							</a>
						</div>
						<h3 class="brand-logo"><a href="/">Shunt</a></h3>
					</div>
					{{#if breadcrumb}}
					<ol class="breadcrumb pull-left hidden-xs">
					{{#each breadcrumb as |item|}}
						<li>
							<a href="{{ item.link }}">
								{{#if item.icon}}<i class="fa fa-{{ item.icon }} mr5"></i>{{/if}}{{ item.label }}
							</a>
						</li>
					{{/each}}
					</ol>
					{{/if}}
					<ul class="nav navbar-nav navbar-right hidden-xs">
						{{#if session.user}}
						<li>
							<a href="javascript:;" data-toggle="dropdown" aria-expanded="false">
								<span>{{ session.user.firstName }} {{ session.user.lastName }}</span>
								<i class="ml10 fa fa-angle-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="{{ session.urls.account }}">Account Settings</a>
								</li>
								<li>
									<a href="{{ session.urls.logout }}">Log out</a>
								</li>
							</ul>
						</li>
						{{/if}}
					</ul>
				</header>
				{{/if}}
				<section class="main-content">
					{{> page }}
				</section>
			</div>
			{{#if footer}}
			<footer class="content-footer">
				<nav class="footer-right">
					<ul class="nav">
						<li><a href="mailto:info@shunt.io">Feedback</a></li>
					</ul>
				</nav>
				<nav class="footer-left">
					<ul class="nav">
						<li><a>Copyright <i class="fa fa-copyright"></i> <span>Shunt</span> 2015</a></li>
						<li><a href="{{ session.urls.terms }}">Terms &amp; Conditions</a></li>
						<li><a href="{{ session.urls.privacy }}">Privacy Policy</a></li>
					</ul>
				</nav>
			</footer>
			{{/if}}
		</div>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="/assets/js/shunt-api.js"></script>
		<script src="/assets/js/shunt-admin.js"></script>
		{{#each scripts as |script|}}
		<script src="{{ script }}"></script>
		{{/each}}
	</body>
</html>
