<div class="row">
	<div class="col-sm-12 col-lg-offset-1 col-lg-11">
		<h2>Organization settings for {{ session.organization.name }}</h2>
		<p class="lead">Use the fields below to edit the settings for this organization.</p>
		<hr/>
		<form class="form-horizontal" role="form" action="{{ session.urls.organization }}" method="POST" autocomplete="off">
			<input type="hidden" name="_method" value="PUT"/>
			{{#unless session.organization.default}}
			<div class="alert alert-danger">
				<p><strong>Warning:</strong> This organization does not have a default site.</p>
			</div>
			{{/unless}}
			<fieldset>
				<div class="form-group">
					<label for="input-organization-name" class="col-sm-3 col-lg-2 control-label">Name</label>
					<div class="col-sm-6 col-lg-4">
						<input type="text" class="form-control" id="input-organization-name"
							name="name"
							title="This helps you identify the organization in the Shunt admin area"
							placeholder="Organization name"
							value="{{ session.organization.name }}"
							data-validate="notEmpty"
							data-trigger="focus"
						/>
					</div>
				</div>
				<div class="form-group">
					<label for="input-organization-alias" class="col-sm-3 col-lg-2 control-label">Path</label>
					<div class="col-sm-6 col-lg-4">
						<input type="text" class="form-control" id="input-organization-alias"
						 	name="alias"
							title="This determines your organization’s Shunt web root, where your sites are located"
							placeholder="Organizations path"
							value="{{ session.organization.alias }}"
							data-bind-id="organization-alias"
							data-parser="slug"
							data-validate="slug"
							data-trigger="focus"
						/>
						<p class="help-block">{{#replace '$0' session.organization.alias}}{{#replace '$0' '<strong data-bind-value="organization-alias">$0</strong>'}}{{ session.urls.domain }}{{/replace}}{{/replace}}</p>
					</div>
				</div>
				<div class="form-group">
					<label for="input-organization-email" class="col-sm-3 col-lg-2 control-label">Contact email</label>
					<div class="col-sm-6 col-lg-4">
						<input type="text" class="form-control" id="input-organization-email"
							name="email"
							title="Information regarding the organization’s account will be delivered to this email address"
							placeholder="Contact email address"
							value="{{ session.organization.email }}"
							data-validate="notEmpty"
							data-trigger="focus"
						/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Default site</label>
					<div class="col-sm-6 col-lg-4">
						<select class="form-control"
							name="default"
							title="This determines the site that will be shown if a user navigates to {{ session.urls.webroot }}"
						>
							<option value="">No default site selected</option>
							{{#each session.sites}}
							<option value="{{ alias }}"{{#ifequals alias ../session.organization.default }} selected="selected"{{/ifequals}}>{{ name }}</option>
							{{/each}}
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
						<button type="submit" class="btn btn-success">Save changes</button>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Registered users</legend>
				<div class="form-group">
					<label class="col-sm-3 col-lg-2 control-label">Admin accounts</label>
					<div class="col-sm-6 col-lg-4">
						<p class="form-control-static">
							{{#ifequals administrators.length 1}}
							1 registered admin user
							{{else}}
							{{administrators.length}} registered admin user
							{{/ifequals}}
							(<a href="{{ session.urls.organization }}/administrators">edit</a>)
						</p>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>