<div class="row">
	<div class="col-md-12 col-lg-10 mb15">
		<div class="mb15">
			<h4 class="no-margin text-uppercase">Your sites</h4>
		</div>
		{{#if content.sites}}
		{{#each content.sites as |site|}}
		<a class="widget mb0 bg-white" href="{{ ../session.urls.sites }}/{{ site.name }}/settings">
			<i class="fa {{#if site.root}}fa-arrow-right{{else}}fa-exclamation-circle text-danger{{/if}} mr5"{{#unless site.root}} title="This site is not linked to a Dropbox folder{{/unless}}"></i> {{ site.label }}</a>
		</a>
		{{/each}}
		{{else}}
		<div class="alert alert-info mb0">
			<h5>There are no sites registered to this account.</h5>
		</div>
		{{/if}}
	</div>
	<div class="col-md-12 col-lg-10">
		<a class="widget bg-white" href="{{ session.urls.sitesAdd }}">
			<i class="widget-icon bg-primary pull-left fa fa-plus"></i>
			<h4>Create a site</h4>
		</a>
	</div>
</div>
