<div class="row">
	<div class="col-md-12 col-lg-10 mb15">
		<div class="mb15">
			<h4 class="no-margin text-uppercase">Your sites</h4>
		</div>
		{{#unless content.sites}}
		<div class="alert alert-info mb10">
			<h5>There are no sites registered to this account.</h5>
		</div>
		{{/unless}}
		{{#if content.sites}}
		<div class="mb10">
			{{#each content.sites as |site|}}
			<a class="widget mb0 bg-white" href="{{ ../session.urls.sites }}/{{ site.name }}">
				<i class="fa {{#if (eq site.name ../session.user.defaultSite)}}fa-home{{else}}{{#if site.published}}fa-arrow-right{{else}}fa-wrench{{/if}}{{/if}} {{#if site.published}}text-success{{else}}text-danger{{/if}} mr5"></i> {{ site.label }}</a>
			</a>
			{{/each}}
		</div>
		{{/if}}
		<div class="mb15">
			<a class="widget bg-white mb0" data-toggle="collapse" href="#create-site" aria-expanded="false" aria-controls="create-site">
				<i class="widget-icon bg-primary pull-left fa fa-plus"></i>
				<h4>Create a site</h4>
			</a>
			<div class="widget bg-primary mb0">
				<i class="widget-icon bg-white pull-left fa fa-plus"></i>
				<h4>Create a site</h4>
			</div>
			<div class="collapse" id="create-site">
				<div class="panel-body bg-white">
					<div class="col-lg-12">
						<form class="form-horizontal bordered-group" role="form" method="POST" action="{{ session.urls.sites }}" autocomplete="off">
							<input type="hidden" name="_method" value="POST"/>
							<input type="hidden"
								name="private"
								value="{{#if content.site.private}}true{{else}}false{{/if}}"
							/>
							<input type="hidden"
								name="published"
								value="{{#if content.site.published}}true{{else}}false{{/if}}"
							/>
							<input type="hidden"
								name="home"
								value="{{#if content.site.home}}true{{else}}false{{/if}}"
							/>
							<div class="form-group">
								<label class="col-sm-2 control-label">Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control"
										name="label"
										placeholder="Site name"
										value="{{ content.site.label }}"
										data-bind-id="site-label"
										data-validate="notEmpty"
										data-trigger="focus"
									/>
									<span class="form-control-feedback fa" aria-hidden="true"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Site path</label>
								<div class="col-sm-10">
									<input type="text" class="form-control"
										name="name"
										placeholder="Site path"
										value="{{ content.site.name }}"
										data-bind-value="site-label|slug"
										data-bind-id="site-name"
										data-parser="slug"
										data-validate="slug"
										data-trigger="focus"
									/>
									<span class="form-control-feedback fa" aria-hidden="true"></span>
									<p class="help-block">The site's web address will be {{ session.urls.webroot }}<strong data-bind-value="site-name">{{ site.name }}</strong></p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Dropbox folder</label>
								<div class="col-sm-10">
									<input type="hidden" name="root.provider"
										value="{{ content.site.root.provider }}"
									/>
									<input type="text" class="form-control"
									 	name="root.path"
										placeholder="Dropbox folder"
										value="{{ content.site.root.path }}"
										data-bind-value="site-name|format:'/shunt/$0'"
										data-validate="notEmpty"
										data-trigger="focus"
									/>
									<span class="form-control-feedback fa" aria-hidden="true"></span>
									<p class="help-block">This tells Shunt where to find the site's files within your Dropbox.<br/>If this folder doesn't already exist, it will be created.</p>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-success">Create site</button>
									<button type="reset" class="btn btn-default pull-right" data-toggle="collapse" data-target="#create-site" aria-expanded="false" aria-controls="create-site">Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
