<div class="row">
	<div class="col-sm-12 col-lg-offset-1 col-lg-11">
		<h2>Your sites</h1>
		<hr/>

		{{#if content.sites}}

		<p class="lead">The following sites have been registered to this account:</p>
		<div class="row">
			<div class="col-sm-8 col-lg-5">
				<table class="table table-bordered table-condensed">
					<tbody>
						{{#each content.sites }}
						<tr>
							<td>
								<div class="pull-right">
									<a class="btn btn-default btn-xs" href="{{ ../session.urls.sites }}/{{ alias }}/settings" title="Change this site’s settings"><span class="glyphicon glyphicon-cog"></span> Settings</a>
								</div>
								{{#unless path}}
								<span class="glyphicon glyphicon-exclamation-sign text-danger" title="This site has not yet been linked to a Dropbox folder."></span>
								{{else}}
								<span class="glyphicon"></span>
								{{/unless}}
								{{ name }}
								<a href="{{ ../session.urls.webroot }}{{ alias }}" target="_blank" title="Visit this site"><span class="glyphicon glyphicon-new-window"></span></a>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
				<p><a class="btn btn-primary" href="{{ session.urls.sitesAdd }}"><span class="glyphicon glyphicon-plus"></span> Create a new site</a></p>
			</div>
		</div>

		{{else}}

		<div class="alert alert-info">
			<p>There are no sites registered to this account.</p>
			<p>Start using Shunt by <a href="{{ session.urls.sitesAdd }}">adding a new site</a>.</p>
		</div>

		{{/if}}

	</div>
</div>
