<h1 class="page-header">Your sites</h1>

{{#if session.sites}}

<p class="lead">The following sites have been registered within this organization:</p>
<div class="row">
	<div class="col-sm-8 col-lg-5">
		<table class="table table-bordered table-condensed">
			<tbody>
				{{#each session.sites }}
				<tr>
					<td>
						<div class="pull-right">
							<a class="btn btn-default btn-xs" href="{{ ../session.urls.sites }}/edit/{{ alias }}" title="Edit this site’s details"><span class="glyphicon glyphicon-pencil"></span> Edit site</a>
							<button type="button" class="btn btn-success btn-xs"
									title="Dropkick scans your Dropbox folder automatically. Use this link to manually trigger a re-scan of your Dropbox folder."
									data-dropkick-purge="{{ alias }}"
								>
								<span class="dropkick-sync-idle"><span class="glyphicon glyphicon-refresh"></span> Sync files</span>
								<span class="dropkick-sync-loading"><span class="glyphicon glyphicon-refresh"></span> Syncing…</span>
								<span class="dropkick-sync-success"><span class="glyphicon glyphicon-ok"></span> Sync done</span>
								<span class="dropkick-sync-error"><span class="glyphicon glyphicon-exclamation-sign"></span> Sync failed</span>
							</button>
						</div>
						{{ name }}
						<a href="{{ ../session.urls.webroot }}{{ alias }}" target="_blank" title="Visit this site"><span class="glyphicon glyphicon-new-window"></span></a>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<p><a class="btn btn-primary" href="{{ session.urls.sitesAdd }}"><span class="glyphicon glyphicon-plus"></span> Create a new site</a></p>
	</div>
</div>

{{else}}

<div class="alert alert-info">
	<p>There are no sites registered within this organization.</p>
	<p>Start using Dropkick by <a href="{{ session.urls.sitesAdd }}">adding a new site</a>.</p>
</div>

{{/if}}
