{{#>index title='Site dashboard' navigation=true footer=true}}
	{{#*inline 'navbar'}}
		{{#>breadcrumb}}
		{{>breadcrumb-item link=session.urls.sites icon='dashboard' label='Site dashboard'}}
		{{/breadcrumb}}
	{{/inline}}
	{{#*inline 'content'}}
		<div class="row">
			<div class="col-md-12 col-lg-10 mb15">
				<div class="mb15">
					<h4 class="no-margin text-uppercase">Your sites</h4>
				</div>
				{{#unless content.sites}}
				<div class="alert alert-info mb10">
					<h5>There are no sites registered to this account.</h5>
				</div>
				{{/unless}}
				{{#if content.sites}}
				<div class="mb10">
					{{#each content.sites as |site|}}
					<a class="widget mb0 bg-white" href="{{ ../session.urls.sites }}/{{ site.name }}">
						<i class="fa {{#if (eq site.name ../session.user.defaultSite)}}fa-home{{else}}{{#if site.published}}fa-arrow-right{{else}}fa-wrench{{/if}}{{/if}} {{#if site.published}}text-success{{else}}text-danger{{/if}} mr5"></i> {{ site.label }}</a>
					</a>
					{{/each}}
				</div>
				{{/if}}
				<a class="widget bg-white mb15" href="{{ session.urls.sitesCreate }}">
					<i class="widget-icon bg-primary pull-left fa fa-plus"></i>
					<h4>Create a site</h4>
				</a>
			</div>
		</div>
	{{/inline}}
{{/index}}
