{{#> index}}
	{{#*inline 'content'}}
		<form class="editor" role="form" method="POST" action="{{ session.urls.sites }}/{{ content.site.name }}" autocomplete="off" data-editor-form>
			<input type="hidden" name="_method" value="PUT"/>
			<input type="hidden" value="{{ json content.adapter }}" data-editor-adapter-config/>
			<input type="hidden" name="theme.id" value="{{ content.site.theme.id }}"/>
			<div class="title-bar">
				<div class="title-bar-title">
					<div class="brand">
						<h3 class="brand-logo"><a href="/">Shunt</a></h3>
					</div>
				</div>
				<h3 class="title-bar-subtitle">Site editor</h3>
				<div class="title-bar-controls">
					<div class="title-bar-toolbar">
						<button type="button" class="btn" disabled="disabled" data-editor-undo><i class="fa fa-undo mr5"></i> Undo</button>
						<button type="button" class="btn" disabled="disabled" data-editor-redo><i class="fa fa-repeat mr5"></i> Redo</button>
					</div>
					<button type="reset" class="btn btn-default">Reset changes</button>
					<button type="submit" class="btn btn-success">Save and Exit</button>
					<a class="title-bar-close" href="{{ session.urls.sites }}/{{ content.site.name }}" title="Back to site settings" data-editor-close><i class="fa fa-times"></i></a>
				</div>
			</div>
			{{> editor}}
		</form>
	{{/inline}}
{{/index}}
