{{#> index}}
	{{#*inline 'content'}}
		<form class="editor" role="form" method="POST" action="{{ session.urls.sites }}/{{ content.site.name }}" autocomplete="off" data-editor-form>
			<input type="hidden" name="_method" value="PUT"/>
			<div class="title-bar">
				<div class="title-bar-header">
					<div class="title-bar-header-title">
						<div class="brand">
							<h3 class="brand-logo"><a href="/">Shunt</a></h3>
						</div>
					</div>
					<h3 class="title-bar-header-subtitle">Site editor</h3>
				</div>
				<a class="title-bar-close" href="{{ session.urls.sites }}/{{ content.site.name }}" title="Back to site settings" data-editor-close><i class="fa fa-times"></i></a>
				<div class="title-bar-controls">
					<button type="submit" class="btn btn-success bold">Save and Exit</button>
				</div>
				<div class="title-bar-toolbar pull-right hidden-xs">
					<button type="button" class="btn btn-toolbar" disabled="disabled" data-editor-undo><i class="fa fa-undo mr5"></i> Undo</button>
					<button type="button" class="btn btn-toolbar" disabled="disabled" data-editor-redo><i class="fa fa-repeat mr5"></i> Redo</button>
					<button type="reset" class="btn btn-toolbar" disabled="disabled"><i class="fa fa-refresh mr5"></i> Reset changes</button>
				</div>
				<div class="title-bar-toolbar text-center hidden-xs hidden-sm">
					<label>
						<span class="control-label">Current theme:</span>
						<select class="btn btn-toolbar form-control"
							name="theme.id"
						>
							{{#each content.themes as |theme|}}
							<option value="{{ theme.id }}"{{#if (eq theme.id ../content.theme.id)}} selected="selected"{{/if}}>{{ theme.name }}</option>
							{{/each}}
						</select>
					</label>
				</div>
			</div>
			{{> editor}}
		</form>
	{{/inline}}
{{/index}}
