{{#>index title='Canvas editor' fullPage=true}}
	{{#*inline 'styles'}}
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css"/>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.0/css/bootstrap-colorpicker.min.css"/>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css"/>
		<link rel="stylesheet" href="{{ session.urls.assets }}css/filecanvas-editor.css"/>
		{{#if content.theme.fonts}}
		{{#if (or (startsWith content.theme.fonts 'http://') (startsWith content.theme.fonts 'https://') (startsWith content.theme.fonts '//'))}}
		<link rel="stylesheet" href="{{ content.theme.fonts }}"/>
		{{else}}
		<link rel="stylesheet" href="{{ session.urls.themeAssets }}/{{ content.theme.id }}/{{ content.theme.fonts }}"/>
		{{/if}}
		{{/if}}
	{{/inline}}
	{{#*inline 'scripts'}}
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.0/js/bootstrap-colorpicker.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.min.js"></script>
		<script type="text/javascript" src="{{ session.urls.assets }}js/filecanvas-editor.js"></script>
		<script type="text/javascript" src="{{ session.urls.templates }}/partials/theme-options.js"></script>
		<script type="text/javascript" src="{{ session.urls.themes }}/{{ content.site.theme.id }}/template/index.js"></script>
	{{/inline}}
	{{#*inline 'navbar'}}
		{{#>breadcrumb}}
		{{>breadcrumb-item link=session.urls.admin.sites icon='dashboard' label='Dashboard'}}
		{{>breadcrumb-item link=(concat session.urls.admin.sites '/' content.site.name) icon='globe' label=content.site.label}}
		{{>breadcrumb-item link=(concat session.urls.admin.sites '/' content.site.name '/edit') icon='paint-brush' label='Site editor'}}
		{{/breadcrumb}}
	{{/inline}}
	{{#*inline 'content'}}
		<form class="editor loading" role="form" method="POST" action="{{ session.urls.admin.sites }}/{{ content.site.name }}" autocomplete="off" data-editor>
			<input type="hidden" name="_method" value="PUT"/>
			<div class="title-bar">
				<div class="title-bar-header">
					<div class="title-bar-header-title">
						<div class="brand">
							<h3 class="brand-logo"><a href="{{ session.urls.home }}">File<strong>canvas</strong></a></h3>
						</div>
					</div>
					<h3 class="title-bar-header-subtitle">Canvas editor</h3>
				</div>
				<a class="title-bar-close" href="{{ session.urls.admin.sites }}/{{ content.site.name }}" title="Back to site settings" data-editor-close><i class="fa fa-times"></i></a>
				<div class="title-bar-controls">
					<div class="title-bar-controls-container clearfix">
						<button type="submit" class="btn btn-success bold">Save and Exit</button>
					</div>
				</div>
				<div id="title-bar-toolbar" class="title-bar-toolbar pull-right hidden-xs">
					<div class="title-bar-toolbar-container clearfix">
						<button type="button" class="btn btn-toolbar" disabled="disabled" data-editor-undo><i class="fa fa-undo mr5"></i> Undo</button>
						<button type="button" class="btn btn-toolbar" disabled="disabled" data-editor-redo><i class="fa fa-repeat mr5"></i> Redo</button>
						<button type="reset" class="btn btn-toolbar" disabled="disabled"><i class="fa fa-refresh mr5"></i> Revert</button>
					</div>
				</div>
				<div class="title-bar-toolbar text-center hidden-xs hidden-sm">
					<label>
						<span class="control-label">Current theme:</span>
						<select class="btn btn-toolbar form-control"
							name="theme.id"
						>
							{{#each content.themes as |theme|}}
							<option value="{{ theme.id }}"{{#if (eq theme.id ../content.site.theme.id)}} selected="selected"{{/if}}>{{ theme.name }}</option>
							{{/each}}
						</select>
					</label>
				</div>
			</div>
			{{> editor fileUploadUrl=(concat session.urls.admin.sites '/' content.site.name '/edit/upload')}}
		</form>
	{{/inline}}
{{/index}}
