<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="{{ resourceUrl @root 'favicon.ico' }}"/>
	<title>{{ metadata.theme.config.browser.title }}</title>
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--[if lt IE 10]>
		<link href= "css/ie.css" rel= "stylesheet" media= "all" />
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="{{ resourceUrl @root 'css/base.css' }}">
	<style type="text/css">
		::selection {
			background-color: {{ metadata.theme.config.colors.brandColor }};
			color: {{ metadata.theme.config.colors.navItemColor }};
		}
		::-moz-selection {
			background-color: {{ metadata.theme.config.colors.brandColor }};
			color: {{ metadata.theme.config.colors.navItemColor }};
		}
		a,
		.logout:hover,
		#slidecaption h2,
		#slidecaption em,
		#slidecaption strong,
		.option-set li a:hover,
		.option-set li a.selected {
			color: {{ metadata.theme.config.colors.brandColor }};
		}
		nav#mainnav,
		.project-wrp:hover,
		.copyright {
			background-color: {{ metadata.theme.config.colors.brandColor }};
		}
		.btn-primary,
		.btn-primary:link,
		.btn-primary:hover,
		.btn-primary:active,
		.btn-primary:focus {
			background-color: {{ metadata.theme.config.colors.brandColor }} !important;
		}
		a,
		hr,
		hr.mini {
			border-bottom: 1px solid {{ metadata.theme.config.colors.brandColor }};
		}
		.logout,
		nav #fluid-nav li a,
		.project-wrp:hover .project-name,
		.project-wrp:hover .project-client,
		.project-wrp:hover .project-date {
			color: {{ metadata.theme.config.colors.navItemColor }};
		}
		.project-wrp:hover hr {
			border-color: {{ metadata.theme.config.colors.navItemColor }};
		}
		nav #fluid-nav li a:hover {
			color: {{ metadata.theme.config.colors.navItemRolloverColor }};
		}
		nav #fluid-nav li.current a {
			color: {{ metadata.theme.config.colors.navItemSelectedColor }};
		}

		{{#if metadata.theme.config.images.headerLogo}}
		header .logo {
			background-image: url('{{{ metadata.theme.config.images.headerLogo }}}');
		}
		{{/if}}

		{{#if metadata.theme.config.images.navLogo}}
		nav#mainnav .logo {
			background-image: url('{{{ metadata.theme.config.images.navLogo }}}');
		}
		{{/if}}
	</style>
	<style type="text/css">
{{{ metadata.theme.config.scripts.css }}}
	</style>
</head>

<body{{#if metadata.admin }} data-admin data-admin-upload{{/if}}>

	{{#if (or metadata.theme.config.content.pageHeader metadata.theme.config.content.pageSubtitle)}}
	<header id="home">
		<div class="header-bg"></div>
		<div class="pattern"></div>
		<div class="container">
			<div class="row">
				<div class="span4">
					{{#if metadata.theme.config.images.headerLogo}}
					<a class="logo"{{#if metadata.theme.config.content.contactWebsite}} href="{{ metadata.theme.config.content.contactWebsite }}" target="_blank"{{/if}}></a>
					{{/if}}
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<div id="slidecaption">
						<h1>{{ markdown metadata.theme.config.content.pageHeader }}</h1>
						<h2>{{ markdown metadata.theme.config.content.pageSubtitle }}</h2>
					</div>
				</div>
			</div>
		</div>
	</header>
	{{/if}}

	<div class="wrapper">

		<nav id="mainnav">
			<div class="container">
				<div class="row">
					<div class="span4">
						{{#if metadata.theme.config.images.navLogo}}
						<a class="logo"{{#if metadata.theme.config.content.contactWebsite}} href="{{ metadata.theme.config.content.contactWebsite }}" target="_blank"{{/if}}></a>
						{{/if}}
					</div>
					<div class="span8">
						{{#if (or (folders resource.root) resource.private)}}
						<ul id="fluid-nav" class="fluid-navigation visible-desktop">
							{{#if (or metadata.theme.config.content.pageHeader metadata.theme.config.content.pageSubtitle)}}
							<li><a class="scroll-link" href="#home">Home</a></li>
							{{/if}}
							{{#each (folders resource.root) as |folder|}}
							{{#if folder.contents}}
							<li><a class="scroll-link" href="#{{ slug (basename folder) }}">{{ strip-number-prefix folder }}</a></li>
							{{/if}}
							{{/each}}
							{{#if resource.private}}
							<li><a class="scroll-link external" href="{{#if metadata.preview}}javascript:;{{else}}{{{ logoutUrl @root }}}{{/if}}">Log out</a></li>
							{{/if}}
						</ul>
						{{/if}}
					</div>
				</div>
			</div>
		</nav>

		<section class="pages">

			{{#if (or metadata.theme.config.content.introTitle metadata.theme.config.content.introText (files resource.root))}}
			<div class="page">
				<div class="container">
					<div class="row">
						<div class="span12">
							{{#if metadata.theme.config.content.introTitle}}
							<div class="title">{{ metadata.theme.config.content.introTitle }}</div>
							{{#if metadata.theme.config.content.introText}}
							<hr/>
							{{/if}}
							{{/if}}
							{{#if metadata.theme.config.content.introText}}
							<div class="lead-small">{{ markdown metadata.theme.config.content.introText }}</div>
							{{/if}}
							{{#if (files resource.root)}}
							<div class="posts row isotope">
								{{#each (files resource.root) as |file|}}
								<div class="post item span4 isotope-item" data-file-modified="{{ timestamp file.modified }}">
									<a href="{{ downloadUrl @root file }}" target="_blank" class="project-wrp">
										<div class="profile-photo{{#if file.thumbnail}} has-thumbnail{{/if}}" data-extension="{{ extension file }}">
											{{#if file.thumbnail}}
											<div class="profile-thumbnail">
												<img src="{{ thumbnailUrl @root file }}"/>
											</div>
											{{else}}
											<svg class="file-icon" xmlns="http://www.w3.org/2000/svg" version="1.1" width="69px" height="112px" viewBox="0 0 69 112">
												<path class="file-icon-page" fill-rule="evenodd" d="M0,0L69,0L69,86L0,86L0,0ZM0,0L26,0L26,24L0,24L0,0ZM22,4L22,20L6,20L22,4Z"/>
												<path class="file-icon-content" d="M12,71 L57,71 L57,74 L12,74 L12,71 Z M12,61 L57,61 L57,64 L12,64 L12,61 Z M12,51 L57,51 L57,54 L12,54 L12,51 Z M12,41 L57,41 L57,44 L12,44 L12,41 Z M12,31 L57,31 L57,34 L12,34 L12,31 Z M30,21 L57,21 L57,24 L30,24 L30,21 Z"/>
												<rect class="file-icon-title" x="0" y="88" width="69" height="24"/>
												<text class="file-icon-text" x="34" y="105" text-anchor="middle">.{{ extension file }}</text>
											</svg>
											{{/if}}
										</div>
										<div class="project-client">&nbsp;</div>
										<div class="project-name">{{ strip-number-prefix file }}</div>
										<hr class="mini"/>
										<div class="project-date">{{ date file.modified }} – {{ filesize file }}</div>
									</a>
								</div>
								{{/each}}
							</div>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
			{{/if}}

			{{#each (folders resource.root) as |folder|}}
			<div id="{{ slug (basename folder) }}" class="page">
				<div class="container">
					<div class="row">
						<div class="span12"{{#if ../metadata.admin }} data-admin-upload="{{ folder.path }}"{{/if}}>
							<div class="title">{{ strip-number-prefix folder }}</div>
							<hr/>
							<div class="lead-small" data-section-header="{{ strip-number-prefix folder }}"></div>

							{{#if (folders folder)}}
							<ul class="option-set" data-option-key="filter">
								<li><a href="#filter" data-option-value="*" class="selected"><span></span>All</a></li>
								{{#each (folders folder) as |subfolder|}}
								{{#if subfolder.directory}}
								<li{{#if ../../metadata.admin }} data-admin-upload={{ subfolder.path }}{{/if}}><a href="#filter" data-option-value=".filter-{{ slug (basename subfolder) }}"><span></span>{{ strip-number-prefix subfolder }}</a></li>
								{{/if}}
								{{/each}}
							</ul>
							{{/if}}

							<div class="posts row isotope">
								{{#each (files folder) as |file|}}
								<div class="post item span4 isotope-item" data-file-modified="{{ timestamp file.modified }}">
									<a href="{{ downloadUrl @root file }}" target="_blank" class="project-wrp">
										<div class="profile-photo{{#if file.thumbnail}} has-thumbnail{{/if}}" data-extension="{{ extension file }}">
											{{#if file.thumbnail}}
											<div class="profile-thumbnail">
												<img src="{{ thumbnailUrl @root file }}"/>
											</div>
											{{else}}
											<svg class="file-icon" xmlns="http://www.w3.org/2000/svg" version="1.1" width="69px" height="112px" viewBox="0 0 69 112">
												<path class="file-icon-page" fill-rule="evenodd" d="M0,0L69,0L69,86L0,86L0,0ZM0,0L26,0L26,24L0,24L0,0ZM22,4L22,20L6,20L22,4Z"/>
												<path class="file-icon-content" d="M12,71 L57,71 L57,74 L12,74 L12,71 Z M12,61 L57,61 L57,64 L12,64 L12,61 Z M12,51 L57,51 L57,54 L12,54 L12,51 Z M12,41 L57,41 L57,44 L12,44 L12,41 Z M12,31 L57,31 L57,34 L12,34 L12,31 Z M30,21 L57,21 L57,24 L30,24 L30,21 Z"/>
												<rect class="file-icon-title" x="0" y="88" width="69" height="24"/>
												<text class="file-icon-text" x="34" y="105" text-anchor="middle">.{{ extension file }}</text>
											</svg>
											{{/if}}
										</div>
										<div class="project-client">&nbsp;</div>
										<div class="project-name">{{ strip-number-prefix file }}</div>
										<hr class="mini"/>
										<div class="project-date">{{ date file.modified }} – {{ filesize file }}</div>
									</a>
								</div>
								{{/each}}
								{{#each (folders folder) as |subfolder|}}
								{{#each (files subfolder) as |file|}}
								<div class="post item span4 isotope-item filter-{{ slug (basename subfolder) }}" data-file-modified="{{ timestamp file.modified }}">
									<a href="{{ downloadUrl @root file }}" target="_blank" class="project-wrp">
										<div class="profile-photo{{#if file.thumbnail}} has-thumbnail{{/if}}" data-extension="{{ extension file }}">
											{{#if file.thumbnail}}
											<div class="profile-thumbnail">
												<img src="{{ thumbnailUrl @root file }}"/>
											</div>
											{{else}}
											<svg class="file-icon" xmlns="http://www.w3.org/2000/svg" version="1.1" width="69px" height="112px" viewBox="0 0 69 112">
												<path class="file-icon-page" fill-rule="evenodd" d="M0,0L69,0L69,86L0,86L0,0ZM0,0L26,0L26,24L0,24L0,0ZM22,4L22,20L6,20L22,4Z"/>
												<path class="file-icon-content" d="M12,71 L57,71 L57,74 L12,74 L12,71 Z M12,61 L57,61 L57,64 L12,64 L12,61 Z M12,51 L57,51 L57,54 L12,54 L12,51 Z M12,41 L57,41 L57,44 L12,44 L12,41 Z M12,31 L57,31 L57,34 L12,34 L12,31 Z M30,21 L57,21 L57,24 L30,24 L30,21 Z"/>
												<rect class="file-icon-title" x="0" y="88" width="69" height="24"/>
												<text class="file-icon-text" x="34" y="105" text-anchor="middle">.{{ extension file }}</text>
											</svg>
											{{/if}}
										</div>
										<div class="project-client">&nbsp;</div>
										<div class="project-name">{{ strip-number-prefix file }}</div>
										<hr class="mini"/>
										<div class="project-date">{{ date file.modified }} – {{ filesize file }}</div>
									</a>
								</div>
								{{/each}}
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}

		</section>

		<footer>
			{{#if (or
				metadata.theme.config.content.contactTitle
				metadata.theme.config.content.contactEmail
				metadata.theme.config.content.contactWebsite
				metadata.theme.config.content.contactPhone
				metadata.theme.config.content.contactAddress
				metadata.theme.config.content.footerTitle
				metadata.theme.config.content.footerText
			)}}
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="contact span6">
							<h5>{{ metadata.theme.config.content.contactTitle }}</h5>
							{{#if metadata.theme.config.content.contactEmail}}
							<p><strong>E-mail:</strong> <a class="white-text" href="mailto:{{ metadata.theme.config.content.contactEmail }}">{{ metadata.theme.config.content.contactEmail }}</a></p>
							{{/if}}
							{{#if metadata.theme.config.content.contactWebsite}}
							<p><strong>Web:</strong> <a class="white-text" href="{{ metadata.theme.config.content.contactWebsite }}" target="_blank">{{ metadata.theme.config.content.contactWebsite }}</a></p>
							{{/if}}
							{{#if metadata.theme.config.content.contactPhone}}
							<p><strong>Phone:</strong> <span class="white-text">{{ metadata.theme.config.content.contactPhone }}</span></p>
							{{/if}}
							{{#if metadata.theme.config.content.contactAddress}}
							<p><strong>Location:</strong> <span class="white-text">{{ metadata.theme.config.content.contactAddress }}</span></p>
							{{/if}}
						</div>
						<div class="span2"></div>
						<div class="about span4">
							<h5>{{ metadata.theme.config.content.footerTitle }}</h5>
							{{ markdown metadata.theme.config.content.footerText }}
						</div>
					</div>
				</div>
			</div>
			{{/if}}

			<div class="copyright">
				<p class="copyright-message">Powered by <a href="https://www.shunt.io/">Shunt.io</a></p>
			</div>
		</footer>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

	<script src="{{ resourceUrl @root 'js/main.js' }}"></script>
	<script src="{{ resourceUrl @root 'js/jquery.easing.min.js' }}"></script>
	<script src="{{ resourceUrl @root 'js/jquery.sticky.js' }}"></script>
	<script src="{{ resourceUrl @root 'js/jquery.scrollTo.js' }}"></script>
	<script src="{{ resourceUrl @root 'js/jquery.nav.js' }}"></script>
	<script src="{{ resourceUrl @root 'js/selectnav.min.js' }}"></script>
	<script src="{{ resourceUrl @root 'js/jquery.flexslider.js' }}"></script>
	<script src="{{ resourceUrl @root 'js/jquery.parallax-1.1.3.js' }}"></script>
	<script src="{{ resourceUrl @root 'js/mql.js' }}"></script>
	<script src="{{ resourceUrl @root 'js/shortcodes.js' }}"></script>
	<script src="{{ resourceUrl @root 'js/jquery.fancybox.pack.js' }}"></script>
	<script src="{{ resourceUrl @root 'js/jquery.fancybox-media.js' }}"></script>
	<script src="{{ resourceUrl @root 'js/jflickrfeed.js' }}"></script>
	<script src="{{ resourceUrl @root 'js/settings.js' }}"></script>

</body>

</html>
