{{#>index title='Save canvas' overlay=true borderless=true}}
	{{#*inline 'content'}}
		<div class="alert alert-info">
			<i class="pull-left fa fa-user-plus"></i>
			<div>
				<h5>Create your account to save this canvas</h5>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-lg-12">
				<form class="form-horizontal" action="{{ session.urls.demo.createUser }}" method="POST" autocomplete="off">
					<input type="hidden" name="_method" value="POST"/>
					<input type="hidden"
						name="name"
						value="{{ content.site.name }}"
					/>
					<input type="hidden"
						name="label"
						value="{{ content.site.label }}"
					/>
					<input type="hidden"
						name="theme.id"
						value="{{ content.site.theme.id }}"
					/>
					<input type="hidden"
						name="theme.config"
						value="{{ content.site.theme.config }}"
					/>
					<input type="hidden"
						name="root.adapter"
						value="{{ content.site.root.adapter }}"
					/>
					<input type="hidden"
						name="root.path"
						value="{{ content.site.root.path }}"
					/>
					<input type="hidden"
						name="private"
						value="{{ content.site.private }}"
					/>
					<input type="hidden"
						name="published"
						value="{{ content.site.published }}"
					/>
					<input type="hidden"
						name="home"
						value="{{ content.site.home }}"
					/>
					<div class="row no-margin">
						<div class="col-lg-12">
							<div id="row">
								{{> register-fields user=session.user overlay=true}}
								<div class="form-group">
									<div class="col-sm-9 col-sm-offset-3">
										<div class="checkbox">
											<label>
												<input type="checkbox"
													data-bind-id="confirm-terms"
												/>I agree to the <a href="{{ session.urls.admin.terms }}" target="_blank">terms and conditions</a>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="text-center">
										<button type="submit" class="btn btn-primary mt15" disabled="disabled"
											data-bind-value="confirm-terms"
										>Create account</button>
										<button type="reset" class="btn btn-default mt15 ml10" onclick="window.top.$.fn.modal.dismiss()">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	{{/inline}}
{{/index}}
