{{#>index title='Site published' blank=true borderless=true}}
	{{#*inline 'styles'}}{{/inline}}
	{{#*inline 'scripts'}}{{/inline}}
	{{#*inline 'content'}}
		<h5 class="mb15 bold">Congratulations! You've just published your first site.</h5>
		<div class="ml5">
			<p class="mb15"><i class="fa fa-arrow-right mr5"></i> See it in action at <strong><a href="{{ session.urls.webroot }}{{ content.site.name }}" target="_blank">{{ session.urls.webroot }}{{ content.site.name }}</a></strong>.</p>
			<p>You can edit your site at any time in the <a href="{{ session.urls.admin }}/" target="_top">Filecanvas admin area</a>.</p>
			<p>Enjoy using Filecanvas!</p>
			<p> &nbsp;– The Filecanvas Team</p>
			<div class="mt30 text-center">
				<a href="{{ session.urls.webroot }}{{ content.site.name }}" class="btn btn-primary" target="_top">Visit site</a>
			</div>
		</div>
	{{/inline}}
{{/index}}
