{{#>index title='Link account' overlay=true borderless=true}}
	{{#*inline 'content'}}
		<div class="alert alert-info">
			<i class="pull-left fa fa-globe"></i>
			<div>
				<h5>You are about to publish this canvas to the internet</h5>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-lg-12">
				<form class="form-horizontal" method="POST" action="{{ session.urls.demo.sites }}/{{ content.site.name }}" autocomplete="off">
					<input type="hidden" name="_method" value="PUT"/>
					<input type="hidden"
						name="published"
						value="true"
					/>
					<div class="row no-margin">
						<div class="col-lg-12">
							<div id="row">
								<div class="form-group">
									<label class="col-sm-3 control-label">Web address</label>
									<div class="col-sm-9">
										<div class="web-address-control input-group">
											<div class="input-group-addon"><span class="hidden-xs">{{ session.urls.webroot }}</span><span class="visible-xs" title="{{ session.urls.webroot }}">…/</span></div>
											<input type="text" class="form-control"
												name="name"
												value="{{ content.site.name }}"
												data-parser="slug"
												data-validate="slug"
												data-trigger="focus"
											/>
											<span class="form-control-feedback fa" aria-hidden="true"></span>
										</div>
									</div>
								</div>
								<div class="form-group mb0">
									<label class="col-sm-3 control-label">Home canvas</label>
									<div class="col-sm-9">
										<div class="checkbox">
											<label>
												<input type="hidden"
													name="home"
													value="false"
												/>
												<input type="checkbox"
													name="home"
													value="true"
													checked="checked"
												/>
												<span class="checkbox-label">Use this as my home canvas</span>
											</label>
										</div>
										<p class="help-block mb0">Your home canvas is the canvas that loads when a user navigates to <strong>{{ session.urls.webroot }}</strong></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center mt30">
			<button type="submit" class="btn btn-primary">Publish canvas</button>
		</div>
	{{/inline}}
{{/index}}
