{{#>index title=title host=host analytics=analytics}}
	{{#*inline 'navigation'}}
		<li role="presentation"><a href="/" data-analytics-id="www:client:{{ id }}:navigation:home">Home</a></li>
		<li role="presentation"><a href="/#sign-up" data-analytics-id="www:client:{{ id }}:navigation:signup">Sign up</a></li>
		<li role="presentation"><a href="{{ subdomain host=host subdomain='my' }}" data-analytics-id="www:client:{{ id }}:navigation:login">Log in</a></li>
	{{/inline}}
	{{#*inline 'content'}}
		<article class="article-markdown container">
			{{ markdown content }}
		</article>
	{{/inline}}
{{/index}}
