<h1 class="page-header">Edit users for {{ session.organization.name }}</h1>

{{#if users}}

<p class="lead">The following users have admin accounts for this organization:</p>
<div class="row">
	<div class="col-sm-6 col-lg-4">
		<table class="table table-bordered table-condensed">
			<tbody>
				<tr>
					<td>
						<div class="pull-right">
							<a class="btn btn-default btn-xs" title="Edit your user details" href="{{ session.urls.account }}"><span class="glyphicon glyphicon-pencil"></span> Edit details</a>
							<button type="button" class="btn btn-danger btn-xs shunt-delete-button" disabled="disabled"><span class="glyphicon glyphicon-remove"></span> Remove</button>
						</div>
						<strong>{{ session.user.name }}</strong> (you)
					</td>
				</tr>
				{{#each users}}
				{{#unlessequals username ../session.user.username}}
				<tr>
					<td>
						<form class="pull-right" action="{{ ../../session.urls.organizationUsers }}/{{ username }}" method="POST">
							<input type="hidden" name="_method" value="DELETE"/>
							<input type="hidden" name="share" value="{{ username }}"/>
							<a class="btn btn-default btn-xs" title="Edit this user’s details" href="{{ ../../session.urls.organizationUsersEdit }}/{{ username }}"><span class="glyphicon glyphicon-pencil"></span> Edit details</a>
							<button type="submit" class="btn btn-danger btn-xs" title="Remove this user from the Shunt admin system"><span class="glyphicon glyphicon-remove"></span> Remove</button>
						</form>
						{{ name }}
					</td>
				</tr>
				{{/unlessequals}}
				{{/each}}
			</tbody>
		</table>
		<p><a class="btn btn-primary" href="{{ session.urls.organizationUsersAdd }}"><span class="glyphicon glyphicon-plus"></span> Create a new user</a></p>
	</div>
</div>

{{else}}

<div class="alert alert-info">
	<p>There are no Dropbox folders linked to this organization.</p>
	<p>Link a Dropbox folder to this organization by sharing the folder with <strong>incoming@shunt.io</strong>.</p>
</div>

{{/if}}
