<div class="post item span4 isotope-item filter-{{ slug (basename parent.path) }}" data-file-modified="{{ timestamp file.modified }}">
	<a class="project-wrp" href="{{ if (is-shortcut file) (shortcut @root file) (download @root file) }}" target="_blank"
		data-toggle={{ if (has-preview file) 'overlay' null }}
		data-overlay-url={{ if (has-preview file) (preview @root file) null }}
		data-overlay-download={{ if (has-preview file) (download @root file) null }}
		data-overlay-title={{ if (has-preview file) (strip-number-prefix file) null }}
		data-file={{ basename file.path }}
		data-file-size={{ file.size }}
		data-file-modified={{ timestamp file.modified }}
	>
		<div class="profile-photo{{ if file.thumbnail ' has-thumbnail' ''}}" data-extension="{{ extension file }}">
			{{#if file.thumbnail}}
			<div class="profile-thumbnail">
				<img src="{{ thumbnail @root file }}"/>
			</div>
			{{else}}
			{{ partial 'file-icon' file=file }}
			{{/if}}
			<div class="profile-rollover">
				<i class="fa {{ if (is-shortcut file) 'fa-arrow-circle-up' (if (has-preview file) 'fa-search-plus' 'fa-download') }}"></i>
			</div>
		</div>
		<div class="project-footer">
			<div class="project-client">&nbsp;</div>
			<div class="project-name">{{ strip-number-prefix file }}</div>
			<hr class="mini"/>
			<div class="project-date"><time datetime={{ timestamp file.modified }}>{{ date file.modified }}</time> – {{ filesize file }}</div>
		</div>
	</a>
</div>
