<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="{{ resourceUrl 'favicon.ico' }}"/>
	<title>{{ theme.content.title }}</title>
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--[if lt IE 10]>
		<link href= "css/ie.css" rel= "stylesheet" media= "all" />
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="{{ resourceUrl 'css/base.css' }}">
	<style type="text/css">
		a,
		.logout:hover,
		#slidecaption h2,
		#slidecaption em,
		#slidecaption strong,
		.option-set li a:hover,
		.option-set li a.selected {
			color: {{ theme.styles.brandColor }};
		}
		::selection,
		nav#mainnav,
		.project-wrp:hover,
		.copyright::before {
			background-color: {{ theme.styles.brandColor }};
		}
		.btn-primary,
		.btn-primary:link,
		.btn-primary:hover,
		.btn-primary:active,
		.btn-primary:focus {
			background-color: {{ theme.styles.brandColor }} !important;
		}
		a,
		hr,
		hr.mini {
			border-bottom: 1px solid {{ theme.styles.brandColor }};
		}
		::selection,
		.logout,
		#slidecaption,
		nav #fluid-nav li a,
		.project-wrp:hover .project-name,
		.project-wrp:hover .project-client,
		.project-wrp:hover .project-date {
			color: {{ theme.styles.navItemColor }};
		}
		.project-wrp:hover hr {
			border-color: {{ theme.styles.navItemColor }};
		}
		nav #fluid-nav li a:hover {
			color: {{ theme.styles.navItemRolloverColor }};
		}
		nav #fluid-nav li.current a {
			color: {{ theme.styles.navItemSelectedColor }};
		}

		{{#if theme.content.headerLogo}}
		header .logo {
			background-image: url('{{{ theme.content.headerLogo }}}');
		}
		{{/if}}

		{{#if theme.content.navLogo}}
		nav#mainnav .logo {
			background-image: url('{{{ theme.content.navLogo }}}');
		}
		{{/if}}
	</style>
	<style type="text/css">
{{{ theme.scripts.css }}}
	</style>
</head>

<body>

	<nav id="mainnav">
		<div class="container">
			<div class="row">
				<div class="span4">
					<a class="logo"{{#if theme.content.contactWebsite}} href="{{ theme.content.contactWebsite }}"{{/if}}></a>
				</div>
				<div class="span8">
				</div>
			</div>
		</div>
	</nav>

	<section class="page">
		<div class="container">
			<div class="row">
				<form class="form-signin" role="form" action="{{ loginUrl }}" method="POST" autocomplete="off" style="text-align: center;">
					<h2 class="form-signin-heading">Sign in</h2>
					<div><input type="text" name="username" class="form-control" placeholder="Username" required autofocus></div>
					<div><input type="password" name="password" class="form-control" placeholder="Password" required></div>
					<div><button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button></div>
				</form>
			</div>
		</div>
	</section>

	<script>
{{{ theme.scripts.js }}}
	</script>
</body>

</html>
