<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="{{ resourceUrl 'favicon.ico' }}"/>
	<title>{{ theme.content.title }}</title>
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--[if lt IE 10]>
		<link href= "css/ie.css" rel= "stylesheet" media= "all" />
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="{{ resourceUrl 'css/base.css' }}">
	<style type="text/css">

	a,
	.logout:hover,
	#slidecaption em,
	.option-set li a:hover,
	.option-set li a.selected {
		color: {{ theme.styles.brandColor }};
	}
	::selection,
	nav#mainnav,
	.project-wrp:hover,
	.copyright {
		background-color: {{ theme.styles.brandColor }};
	}
	.btn-primary,
	.btn-primary:link,
	.btn-primary:hover,
	.btn-primary:active,
	.btn-primary:focus {
		background-color: {{ theme.styles.brandColor }} !important;
	}
	a,
	hr,
	hr.mini {
		border-bottom: 1px solid {{ theme.styles.brandColor }};
	}
	::selection,
	.logout,
	#slidecaption,
	nav #fluid-nav li a,
	.project-wrp:hover .project-name,
	.project-wrp:hover .project-client,
	.project-wrp:hover .project-date,
	.copyright,
	.copyright a {
		color: {{ theme.styles.navItemColor }};
	}
	.project-wrp:hover hr {
		border-color: {{ theme.styles.navItemColor }};
	}
	nav #fluid-nav li a:hover {
		color: {{ theme.styles.navItemRolloverColor }};
	}
	nav #fluid-nav li.current a {
		color: {{ theme.styles.navItemSelectedColor }};
	}

	{{#if theme.content.headerLogo}}
	header .logo {
		background-image: url('{{{ theme.content.headerLogo }}}');
	}
	{{/if}}

	{{#if theme.content.navLogo}}
	nav#mainnav .logo {
		background-image: url('{{{ theme.content.navLogo }}}');
	}
	{{/if}}
{{{ theme.styles.css }}}
	</style>
	<style type="text/css">{{{ theme.styles.css }}}</style>
</head>

<body>

	<header id="home">
		<div class="header-bg"></div>
		<div class="pattern"></div>
		<div class="container">
			<div class="row">
				<div class="span4">
					<a href="http://www.fathomlondon.com/" class="logo"></a>
				</div>
				<nav>
					{{#if site.private}}
					<a class="logout" href="{{ logoutUrl }}">Log out</a></li>
					{{/if}}
				</nav>
			</div>
			<div class="row">
				<div class="span12">
					<div id="slidecaption"><em>Fathom</em> are a passionate London-based user experience agency who create <em>beautiful</em>, <em>innovative</em>, digital product design.</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="wrapper">

		<nav id="mainnav">
			<div class="container">
				<div class="row">
					<div class="span4">
						<a href="http://www.fathomlondon.com/" class="logo"></a>
					</div>
					<div class="span8">
						<ul id="fluid-nav" class="fluid-navigation visible-desktop">
							<li><a class="scroll-link" href="#home">Home</a></li>
							{{#each contents.folders as |folder|}}
							{{#if folder.contents}}
							<li><a class="scroll-link" href="#{{ folder.alias }}">{{ folder.label }}</a></li>
							{{/if}}
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</nav>

		{{#if contents.files}}
		<section class="page">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="posts row isotope ">
							{{#each contents.files as |file|}}
							<div class="post item span4 isotope-item" data-file-modified="{{ file.timestamp }}">
								<a href="{{ downloadUrl file }}" target="_blank" class="project-wrp">
									<div class="profile-photo{{#if (hasThumbnail file)}} has-thumbnail{{/if}}" data-extension="{{ file.extension }}">
										{{#if (hasThumbnail file)}}
										<div class="profile-thumbnail">
											<img src="{{ thumbnailUrl file }}"/>
										</div>
										{{/if}}
									</div>
									<div class="project-client">&nbsp;</div>
									<div class="project-name">{{ file.label }}</div>
									<hr class="mini">
									<div class="project-date">{{ file.date }} – {{ file.size }}</div>
								</a>
							</div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</section>
		{{/if}}

		{{#each contents.folders as |folder|}}
		<section id="{{ folder.alias }}" class="page">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="title">{{ folder.label }}</div>
						<hr/>
						<div class="lead-small section-content" data-section-header="{{ folder.label }}"></div>

						{{#if folder.folders}}
						<ul class="option-set" data-option-key="filter">
							<li><a href="#filter" data-option-value="*" class="selected"><span></span>All</a></li>
							{{#each folder.folders as |subfolder|}}
							{{#if subfolder.contents}}
							<li><a href="#filter" data-option-value=".filter-{{ subfolder.alias }}"><span></span>{{ subfolder.label }}</a></li>
							{{/if}}
							{{/each}}
						</ul>
						{{/if}}

						<div class="posts row isotope ">
							{{#each folder.files as |file|}}
							<div class="post item span4 isotope-item" data-file-modified="{{ file.timestamp }}">
								<a href="{{ downloadUrl file }}" target="_blank" class="project-wrp">
									<div class="profile-photo{{#if (hasThumbnail file)}} has-thumbnail{{/if}}" data-extension="{{ file.extension }}">
										{{#if (hasThumbnail file)}}
										<div class="profile-thumbnail">
											<img src="{{ thumbnailUrl file }}"/>
										</div>
										{{/if}}
									</div>
									<div class="project-client">&nbsp;</div>
									<div class="project-name">{{ file.label }}</div>
									<hr class="mini">
									<div class="project-date">{{ file.date }} – {{ file.size }}</div>
								</a>
							</div>
							{{/each}}
							{{#each folder.folders as |subfolder|}}
							{{#each subfolder.files as |file|}}
							<div class="post item span4 isotope-item filter-{{ subfolder.alias }}" data-file-modified="{{ file.timestamp }}">
								<a href="{{ downloadUrl file }}" download="{{ file.label }}.{{ file.extension }}" target="_blank" class="project-wrp">
									<div class="profile-photo{{#if (hasThumbnail file)}} has-thumbnail{{/if}}" data-extension="{{ file.extension }}">
										{{#if (hasThumbnail file)}}
										<div class="profile-thumbnail">
											<img src="{{ thumbnailUrl file }}"/>
										</div>
										{{/if}}
									</div>
									<div class="project-client">&nbsp;</div>
									<div class="project-name">{{ file.label }}</div>
									<hr class="mini">
									<div class="project-date">{{ file.date }} – {{ file.size }}</div>
								</a>
							</div>
							{{/each}}
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</section>
		{{/each}}


		<section class="footer">
			<div class="container">
				<div class="row">
					<div class="span4">
						<h5>Contact Us</h5>
						<p><strong>E-mail:</strong> <a href="mailto:hello@fathomlondon.com" class="white-text">hello@fathomlondon.com</a><br />
						<strong>Location:</strong> <span class="white-text">80 Coleman Street, London, EC3M 7AT</span></p>
					</div>
					<div class="span4"></div>
					<div class="span4">
						<h5>Your Extranet</h5>
						<p>Providing private access to the latest resources from Fathom London.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="copyright">
			Powered by <a href="https://www.shunt.io/">Shunt.io</a> – The easiest way to showcase your files
		</section>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

	<script src="{{ resourceUrl 'js/main.js' }}"></script>
	<script src="{{ resourceUrl 'js/jquery.easing.min.js' }}"></script>
	<script src="{{ resourceUrl 'js/jquery.sticky.js' }}"></script>
	<script src="{{ resourceUrl 'js/jquery.scrollTo.js' }}"></script>
	<script src="{{ resourceUrl 'js/jquery.nav.js' }}"></script>
	<script src="{{ resourceUrl 'js/selectnav.min.js' }}"></script>
	<script src="{{ resourceUrl 'js/jquery.flexslider.js' }}"></script>
	<script src="{{ resourceUrl 'js/jquery.parallax-1.1.3.js' }}"></script>
	<script src="{{ resourceUrl 'js/jquery.isotope.min.js' }}"></script>
	<script src="{{ resourceUrl 'js/mql.js' }}"></script>
	<script src="{{ resourceUrl 'js/shortcodes.js' }}"></script>
	<script src="{{ resourceUrl 'js/jquery.fancybox.pack.js' }}"></script>
	<script src="{{ resourceUrl 'js/jquery.fancybox-media.js' }}"></script>
	<script src="{{ resourceUrl 'js/jflickrfeed.js' }}"></script>
	<script src="{{ resourceUrl 'js/settings.js' }}"></script>

</body>

</html>
