<li class="item" data-filter={{ if parent (basename parent.path) '' }}>
	<a class="item-link" href="{{ if (is-shortcut file) (shortcut @root file) (download @root file) }}" target="_blank"
		data-toggle={{ if (has-preview file) 'overlay' null }}
		data-overlay-url={{ if (has-preview file) (preview @root file) null }}
		data-overlay-download={{ if (has-preview file) (download @root file) null }}
		data-overlay-title={{ if (has-preview file) (strip-number-prefix file) null }}
		data-file={{ basename file.path }}
		data-file-size={{ file.size }}
		data-file-modified={{ timestamp file.modified }}
	>
		<div class="item-preview{{ if (has-thumbnail file) ' has-thumbnail' ''}}" data-extension="{{ extension file }}">
			{{#if (has-thumbnail file)}}
			<div class="item-preview-thumbnail" style="background-image: url('{{ thumbnail @root file }}');"></div>
			{{else}}
			<div class="item-preview-icon">
				{{ partial 'file-icon' file=file }}
			</div>
			{{/if}}
			<div class="item-preview-rollover">
				<div class="item-preview-rollover-button">{{ if (is-shortcut file) 'Visit' (if (has-preview file) 'View' 'Download') }}</div>
			</div>
			<div class="item-preview-title">{{ strip-number-prefix file }}</div>
		</div>
	</a>
</li>
