<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
{{#if (or metadata.theme.config.browser.title metadata.theme.config.content.pageHeader) }}
<title>{{ if metadata.theme.config.browser.title metadata.theme.config.browser.title metadata.theme.config.content.pageHeader }}</title>
{{else}}
<title></title>
{{/if}}
<link rel="stylesheet" type="text/css" href="{{ asset @root 'css/filecanvas-overlay.css' }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset @root 'css/fonts.css' }}"/>
<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
{{#if metadata.admin }}
<link rel="stylesheet" type="text/css" href="{{ asset @root 'css/filecanvas-admin.css' }}"/>
{{/if}}
<link rel="stylesheet" href="{{ asset @root 'css/base.css' }}"/>
<link rel="stylesheet" href="{{ asset @root 'css/main.css' }}"/>
<style type="text/css">
	h1 {
		font-family: {{ metadata.theme.config.fonts.pageTitle.font-family }}, sans-serif;
		font-weight: {{ metadata.theme.config.fonts.pageTitle.font-weight }};
		text-transform: {{ metadata.theme.config.fonts.pageTitle.text-transform }};
	}
	h2 {
		font-family: {{ metadata.theme.config.fonts.pageSubtitle.font-family }}, sans-serif;
		font-weight: {{ metadata.theme.config.fonts.pageSubtitle.font-weight }};
		text-transform: {{ metadata.theme.config.fonts.pageSubtitle.text-transform }};
	}
	.sidebar,
	.sidebar a,
	.sidebar a:link,
	.sidebar a:visited {
		font-family: {{ metadata.theme.config.fonts.navItem.font-family }}, sans-serif;
		font-weight: {{ metadata.theme.config.fonts.navItem.font-weight }};
		text-transform: {{ metadata.theme.config.fonts.navItem.text-transform }};
	}
	.footer,
	.footer a,
	.footer a:link,
	.footer a:visited {
		font-family: {{ metadata.theme.config.fonts.footer.font-family }}, sans-serif;
		font-weight: {{ metadata.theme.config.fonts.footer.font-weight }};
		text-transform: {{ metadata.theme.config.fonts.footer.text-transform }};
	}
	.item-preview-title {
		font-family: {{ metadata.theme.config.fonts.itemPreviewTitle.font-family }}, sans-serif;
		font-weight: {{ metadata.theme.config.fonts.itemPreviewTitle.font-weight }};
		text-transform: {{ metadata.theme.config.fonts.itemPreviewTitle.text-transform }};
	}
	.item-preview-rollover-button {
		font-family: {{ metadata.theme.config.fonts.itemPreviewButton.font-family }}, sans-serif;
		font-weight: {{ metadata.theme.config.fonts.itemPreviewButton.font-weight }};
		text-transform: {{ metadata.theme.config.fonts.itemPreviewButton.text-transform }};
	}

	body,
	.sidebar,
	.footer {
		background-color: {{ metadata.theme.config.colors.sidebarColor }};
	}
	.sidebar-header-title {
		color: {{ metadata.theme.config.colors.pageTitle }};
	}
	.sidebar-header-subtitle {
		color: {{ metadata.theme.config.colors.pageSubtitle }};
	}
	body,
	.sidebar,
	.sidebar a,
	.sidebar a:link,
	.sidebar a:visited,
	.footer,
	.footer a,
	.footer a:link,
	.footer a:visited {
		color: {{ metadata.theme.config.colors.navItem }};
	}
	a.contact-social-link svg,
	a.contact-social-link:link svg,
	a.contact-social-link:visited svg,
	a.contact-social-link:active svg {
		fill: {{ metadata.theme.config.colors.navItem }};
	}
	.sidebar a:focus,
	.sidebar a:hover,
	.footer a:focus,
	.footer a:hover {
		color: {{ metadata.theme.config.colors.navItemRollover }};
	}
	a.contact-social-link:focus svg,
	a.contact-social-link:hover svg {
		fill: {{ metadata.theme.config.colors.navItemRollover }};
	}
	.sidebar a:active,
	.sidebar a.active,
	.footer a:active,
	.footer a.active {
		color: {{ metadata.theme.config.colors.navItemSelected }};
	}
	.item-preview-title {
		background-color: {{ metadata.theme.config.colors.itemPreviewTitleBackground }};
		color: {{ metadata.theme.config.colors.itemPreviewTitleText }};
	}
	.item-preview-rollover-button {
		background-color: {{ metadata.theme.config.colors.itemPreviewButtonBackground }};
		color: {{ metadata.theme.config.colors.itemPreviewButtonText }};
	}
</style>
<style type="text/css">{{ css metadata.theme.config.scripts.css }}</style>
